In [1]:
print("This Python Program")

This Python Program

In [2]:
# First Python program to add two numbers
a = 2
b = 5 
c = a + b
print("Sum =",c)

Sum = 7

### Comments in Python  
### There are two types of ways single-line and multi-comment

In [3]:
# Single-line comment  start with hash ( # ) 

a = 10
b = 5 
c = a + b # c is sum of a and b 

print("Sum :",c)

Sum : 15

In [4]:
# Multi-Line comment 
""" This is the multiline comment system in the python. This is a program to find the net salary of an employee
based on the basic salary, provident fund, house rent allowance,
dearness allowance and income tax."""

' This is the multiline comment system in the python. This is a program to find the net salary of an employee\nbased on the basic salary, provident fund, house rent allowance,\ndearness allowance and income tax.'

In [5]:
''' This is the multiline comment system in the python. This is a program to find the net salary of an employee
based on the basic salary, provident fund, house rent allowance,
dearness allowance and income tax. '''

' This is the multiline comment system in the python. This is a program to find the net salary of an employee\nbased on the basic salary, provident fund, house rent allowance,\ndearness allowance and income tax. '

In [6]:
# Program with two functions 
def add (x,y):
    """ This function takes two numbers and finds their sum.
        It displays the sum as a result.
    """
    print("Sum =",(x+y))

In [7]:
# call function 
add(10,5)

Sum = 15

In [8]:
def message():
    "This function displays a message"
    print("Welcome to Python magic")

# call function 
message()

Welcome to Python magic

# Variable 
variable is holding the data or Variables are containers for storing data values.

In [9]:
a = 1

In [10]:
b = 10

In [11]:
a

1

In [12]:
b

10

In [13]:
a , b =( 10 , 5)

In [14]:
a

10

In [15]:
b

5

In [16]:
a,b,c,d = (10,2,11,10)

In [17]:
a

10

In [18]:
b

2

In [19]:
c

11

In [20]:
d

10

In [21]:
fruit = 'mango'

In [22]:
fruit

'mango'

In [23]:
fruit = "mango","Banana"

In [24]:
fruit

('mango', 'Banana')

In [25]:
x = 5  # Checking Data type of variables
type(x)

int

In [26]:
y = "John" # Checking type of variable 
type(y)

str

In [27]:
z = 3.4  # 
type(z)

float

In [28]:
print(True + True + True +False + True)  # True = 1 and False = 0 
print(False - True + True)

4
0

In [29]:
a = 4 
type(a)

int

In [30]:
x = 15.3

In [31]:
num = 15

In [32]:
float(x)

15.3

In [33]:
float(num)

15.0

In [34]:
int(x)

15

In [35]:
int(num)

15

In [36]:
1 + "Sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
str(1) + "Sudh"  # Type casting

'1Sudh'

In [39]:
 1 + 1.0

2.0

In [38]:
int(1+1.0) # type casting

2

In [41]:
print("**" * (10)) # only multiplication and + work but not others like subtraction devision

********************

# Input from user

In [40]:
a =

SyntaxError: invalid syntax (2792523948.py, line 1)

In [42]:
a = input("enter a interger")

enter a interger 10

In [43]:
a = int(input("Eneter a interger"))
b = int(input("Eneter a interger"))
c = int(input("Eneter a interger"))
e = ( a + b / c)
d =e  + 20 + 10j
print(d)
print(d,"", "Bhimrao")

Eneter a interger 10
Eneter a interger 10
Eneter a interger 10

(31+10j)
(31+10j)  Bhimrao

In [44]:
a = int(input("Eneter a interger"))
b = int(input("Eneter a interger"))
c = int(input("Eneter a interger"))

Eneter a interger 10
Eneter a interger 10
Eneter a interger 10

In [45]:
a,b,c

(10, 10, 10)

In [46]:
o = a+b/c

In [47]:
o

11.0

In [50]:
o1 = o + 78+10j

In [49]:
o1

(89+10j)

In [51]:
str(o1) + "Bhim"

'(89+10j)Bhim'

In [53]:
a = int(input("Enter a number lesser then 34 ----"))

Enter a number lesser then 34 ---- 10

In [54]:
if a < 34:
    pass

In [55]:
a = int(input("Enter a number lesser then ----"))
if a < 34:
    print("Data input is lesser then 34 and  i an fine with")
else:
    print("Data input lesser then 34 and I am not fine with")

Enter a number lesser then ---- 55

Data input lesser then 34 and I am not fine with

In [56]:
a = int(input("Enter number"))
if a < 34:
    print("Data input is lesser than 34 ")
elif a < 100:
    print("My data is lesser than 100")
else:
    print("user input is no lesser than 34")

Enter number 10

Data input is lesser than 34

# Write program to find the leaf year

In [57]:
# Write program to find the leaf year 
year = int(input("Enter a year "))

if year % 4 ==0:
    print("This is leaf year")

    if year % 100 ==0:
        print("this is not leaf year")

        if year % 400 == 0:
                print("This is leaf year")
else:
    print("This is not a leaf year")

Enter a year  2022

This is not a leaf year

In [58]:
year = int(input("Enter a year"))
if year % 4 ==0:
    print("This is a leaf year")
elif year % 100 ==0:
    print("this is not a leaf year")
elif year % 400 ==0:
    print("This a leaf year")
else:
    print("This is a not a leaf year")

Enter a year 2024

This is a leaf year

In [64]:
salary = int(input("Enter a Your salary"))
if salary > 1000:
    print(" I will buy a car")
        
elif salary > 500 :
    print("I will buy a Bike")

elif salary > 100:
    print(" Go for savings")

else:
    print("Don't do any things")

Enter a Your salary 10

Don't do any things

In [65]:
salary = int(input("Enter a Your salary"))
if salary > 1000:
    print(" I will buy a car")
    if salary > 5000:
        print(" I will go for swept car")
        if True:
            print("False code")
    elif salary > 10000:
        print("I will go for Punch car ")
    elif salary > 50000:
        print("I will go for creata car")
        
    else:
        print(" I will go through rent")
elif salary > 500 :
    print("I will buy a Bike")

elif salary > 100:
    print(" Go for savings")

else:
    print("Don't do any things")

Enter a Your salary 100000

 I will buy a car
 I will go for swept car
False code

In [1]:
a = 10
b = 20

if a == 10 and b == 20 :
    print("This is a valid statement")

This is a valid statement

In [5]:
a == 10

True

In [6]:
b == 20

True

In [7]:
a == 10 and b == 20

True

In [8]:
a == 10 and b > 20

False

In [9]:
a == 10

True

In [10]:
b > 20

False

In [11]:
if a ==10 and b > 10:
    print("This is invalid")
elif a ==10 and b < 20 :
    print("This is valid")

else:
    print("Condition is ok")

This is invalid

In [13]:
a = 10 
b = 20 
if a == 10 or b > 20 :
    print("This is invalid")
elif  a== 10 or b <= 20 :
    print("This is correct one ")

else:
    print("Condition is not valid ")

This is invalid

In [18]:
name = input("Enter a name: ")
last_name = input("Enter a last name: ")

if name == "bhimrao" and last_name == "Pawar":
    print("This is the correct name")
elif name == "Pawar" and last_name == "bhimrao":
    print("This is the reverse name")
else:
    print("This is an invalid name")

Enter a name:  bhimrao
Enter a last name:  Pawar

This is the correct name

# While loop

In [1]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed :
    print("This is my Speed")
    count = count + 1 
    if count == 10 :
        break

This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed
This is my Speed

In [2]:
i = 1
j = 5

while i < j :
    print(i)
    i= i + 1

1
2
3
4

In [9]:
# Write python program to display 1 to 10 
x = 1
while x <=10 :
    print(x)
    x += 1
print("End")

1
2
3
4
5
6
7
8
9
10
End

In [8]:
x = 1
while x <=10 :
    print(x)
    x += 1
    print("End")

1
End
2
End
3
End
4
End
5
End
6
End
7
End
8
End
9
End
10
End

In [15]:
# Write python program to display even numbers 1 to 100 
x = 0
while x >= 0 and x <= 100:
    print(x)
    x+=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [1]:
notes = 5
i = 1
while i <notes:
    print(i)
    i += 1
else:
    print("No 10 rs notes are available")

1
2
3
4
No 10 rs notes are available

# Indexing

In [4]:
B = "Bhimrao"
len(B)

7

In [9]:
B[4]

'r'

In [10]:
B[4:5]

'r'

In [11]:
C = "Bhimrao Pawar"

In [12]:
C[8:13]

'Pawar'

In [16]:
C[-5:]# Negative indexing

'Pawar'

In [44]:
C[-6:] # Negative indexing

' Pawar'

In [45]:
C[-13:-1] # Negative indexing

'Bhimrao Pawa'

In [46]:
C[-13:] # Negative indexing

'Bhimrao Pawar'

In [47]:
C[:]

'Bhimrao Pawar'

In [24]:
C[:1]

'B'

In [48]:
C[::1] #  indexing steps

'Bhimrao Pawar'

In [25]:
C[:]

'Bhimrao Pawar'

In [26]:
C[:7]

'Bhimrao'

In [31]:
C[13::-1]  # Reversre direction

'rawaP oarmihB'

In [37]:
C[::-1] Reversre direction

'rawaP oarmihB'

In [38]:
C[::1] # Forword direction

'Bhimrao Pawar'

In [36]:
C[13:6:-1] # Reverse Direction

'rawaP '

# For loop

In [55]:
C = "Bhimrao Pawar"
for i in C :
    print(i)

B
h
i
m
r
a
o

P
a
w
a
r

In [56]:
C = "Bhimrao Pawar"
for i in C :
    if i == "m":
        print("I got M")
    print(i)

B
h
i
I got M
m
r
a
o

P
a
w
a
r

In [57]:
X = [2,3,4,5,6,7,8,9,10]
for i in X:
    print(i)

2
3
4
5
6
7
8
9
10

In [52]:
for i in C :
    if i == "r":
        print(" I got String")
    print(i)

B
h
i
m
 I got String
r
a
o

P
a
w
a
 I got String
r

In [70]:
for i in C :
    if i =='r':
        continue   # Contiue is the skip particular iteration  
    print(i)
else:
    if i =='P':
        print("last name first char")
    print("this is the else condition")

B
h
i
m
a
o

P
a
w
a
this is the else condition

In [71]:
for i in C :
    if i =='m':
        break    # Break is stop the iterations
    print(i)
else:
    if i =='P':
        print("last name first char")
    print("this is the else condition")

B
h
i

In [72]:
s = "ineuron"       # remove all n from the given s 
ss =""
for i in range(len(s)):
    if s[i] =="n":
        continue

    else:
        ss = ss + s[i]

In [73]:
ss

'ieuro'

In [74]:
len(s)

7

# Pattern draw

In [75]:
n = 7
for i in range(0,n):
    for j in range(0, i + 1):
        print("+ ", end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [143]:
n = 5
for i in range(1, n+1):
    for j in range(n - i):
        print(' ', end=' ')
    for k in range(2 * i - 1):
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [144]:
# Q Hollow Pyramid Pattern In Python
n = 5
for i in range(1, n+1):
    # printing spaces
    for j in range(n - i):
        print(' ', end=' ')

    # printing stars
    for k in range(2 * i - 1):
        # print star at start and end of the row
        if k == 0 or k == 2 * i - 2:
            print('*', end=' ')
        else:
            if i == n:
                print('*', end=' ')
            else:
                print(' ', end=' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [87]:
n = int(input("Enter a number of rows required :"))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" " , end="")
    for j in range(2*i-1):
        print('*', end='')
    print()

Enter a number of rows required : 9

*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [108]:
n = 5  # or any value you want

for i in range(n, 0, -1):  # Corrected the step value to -1
    for j in range(n-i):   # Changed the range for spacing
        print(" ", end="")
    for j in range(2*i-1):  # Corrected the range for asterisks
        print("*", end="")
    print()

*********
 *******
  *****
   ***
    *

In [112]:
# Create a square pattern 
# count the row 
rows = 5
for i in range(0,5,1):
    for j in range(0,5):
        print("*",end="  ")
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [116]:
# Create empty square 
rows=5 
for i in range(0,rows,1):
    for j in range(rows):
        if i == 0 or i ==rows-1 or j==0 or j==rows-1:
            print("*" ,end="  ")
        else:
            print(" " , end="  ")
    print()

*  *  *  *  *
*           *
*           *
*           *
*  *  *  *  *

In [142]:
# Hallow tringle Star Pattern
n = 6
for i in range(1, n+1):
    for j in range(i):
        # print star only at start and end of the row
        if j == 0 or j == i-1:
            print('*', end=' ')
        # print only star if it's last row
        else:
            if i != n:
                print('  ', end='')
            else:
                print('*', end=' ')
    print()

*
* *
*   *
*     *
*       *
* * * * * *

In [118]:
# left triangle 
rows = 5 
for i in range(rows):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [121]:
# write triangle 
rows = 5 
for i in range(rows):
    for j in range(1,rows -i):
        print(" ", end=" ")

    for k in range(0, i + 1):
        print("+", end=" ")
    print()

        +
      + +
    + + +
  + + + +
+ + + + +

In [122]:
# left tringle 
size = 5
for i in range(size):
    for j in range(1, size - 1):
        print(" ", end=" ")
    for k in range(0, i + 1):
        print("*", end=" ")
    print()

      *
      * *
      * * *
      * * * *
      * * * * *

In [123]:
# left down Tringle 
rows = 5 
for i in range(rows):
    for j in range(rows - i):
        print("*" ,end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [125]:
# Right down tringles tringle 
rows = 5
for i in range(rows):
    for j in range(rows):
        if j>=i :
            print("*", end=" ")
        else:
            print(" " ,end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [146]:
n = 5 
# downward pyramid
for i in range(n-1):
    for j in range(i):
        print(' ', end=' ')
    for k in range(2*(n-i)-1):
        print('*', end=' ')
    print()
# upward pyramid
for i in range(n):
    for j in range(n-i-1):
        print(' ', end=' ')
    for k in range(2*i+1):
        print('*', end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# Strings

In [147]:
c = "This is my first class for full statck data science that's why i have joined this class "

In [148]:
c

"This is my first class for full statck data science that's why i have joined this class "

In [4]:
d = "This is full stack class"

In [5]:
d[::-1]

'ssalc kcats lluf si sihT'

In [6]:
for i in d:
    print(i,end="")

This is full stack class

In [7]:
 # string is the immutable 
# i.e this is not going to be manipulated but the list is mutable

In [8]:
"Bhimrao"  +  " Pawar"

'Bhimrao Pawar'

In [9]:
"Bhim" + str(3)

'Bhim3'

In [10]:
"Bhimrao" + ["Pawar" , 123]

TypeError: can only concatenate str (not "list") to str

In [13]:
"Bhimrao " * 4

'Bhimrao Bhimrao Bhimrao Bhimrao '

In [14]:
B = " Bhimrao"

In [16]:
B.find("m")

4

In [17]:
s = " my name is "

In [29]:
b = s.find("name")
for i in range(len("name")):
    print(b+i)

4
5
6
7

In [30]:
s.count("m")

2

In [31]:
 s = " this is not going to be manipulated but the list is mutable "

In [33]:
s.count("to")

1

In [39]:
s.split(sep=",")

[' this is not going to be manipulated but the list is mutable ']

In [40]:
s.split()

['this',
 'is',
 'not',
 'going',
 'to',
 'be',
 'manipulated',
 'but',
 'the',
 'list',
 'is',
 'mutable']

In [41]:
s.split("n")

[' this is ', 'ot goi', 'g to be ma', 'ipulated but the list is mutable ']

In [47]:
s.split(sep="  ")

[' this is not going to be manipulated but the list is mutable ']

In [48]:
s.upper()

' THIS IS NOT GOING TO BE MANIPULATED BUT THE LIST IS MUTABLE '

In [49]:
s.lower()

' this is not going to be manipulated but the list is mutable '

In [50]:
s.swapcase()

' THIS IS NOT GOING TO BE MANIPULATED BUT THE LIST IS MUTABLE '

In [51]:
s.islower()

True

In [52]:
" ".join(s)

'  t h i s   i s   n o t   g o i n g   t o   b e   m a n i p u l a t e d   b u t   t h e   l i s t   i s   m u t a b l e  '

In [54]:
for i in reversed(s):
    print(i,end="")

 elbatum si tsil eht tub detalupinam eb ot gniog ton si siht

In [57]:
c ="    My Name is    "

In [58]:
c.strip()

'My Name is'

In [59]:
d = "My name is     "

In [60]:
d.lstrip()

'My name is     '

In [61]:
d.rstrip()

'My name is'

In [62]:
s = "Bhimrao Pawar"

In [63]:
s.replace("B","b")

'bhimrao Pawar'

In [64]:
s

'Bhimrao Pawar'

In [65]:
s.replace("o","v")

'Bhimrav Pawar'

In [66]:
s

'Bhimrao Pawar'

In [68]:
for i in s:
    print(i,end="")

Bhimrao Pawar

In [71]:
b = s.find("Pawar")  # This is give the index of Pawar name index 
for i in range(len("Pawar")):
    print(b+i)

8
9
10
11
12

In [72]:
s = "sudh"

In [74]:
s.center(20, "-")

'--------sudh--------'

In [75]:
s.center(20,"b")

'bbbbbbbbsudhbbbbbbbb'

In [76]:
s.center(20,"*")

'********sudh********'

In [77]:
s.center(20,"@")

'@@@@@@@@sudh@@@@@@@@'

In [78]:
s = "sudg\tkumar"

In [79]:
s

'sudg\tkumar'

In [80]:
s.expandtabs()

'sudg    kumar'

In [81]:
s.upper()

'SUDG\tKUMAR'

In [82]:
a = "We all are a part of full stack"

In [83]:
a.lower()

'we all are a part of full stack'

In [84]:
a.find("a")

3

In [92]:
a.count("a")

5

In [98]:
b = a.find("a")
for i in range(len(a)):
    if (a[i]=="a"):
        print(i)

3
7
11
14
28

In [86]:
a.replace("a","ineuron")

'We ineuronll ineuronre ineuron pineuronrt of full stineuronck'

In [91]:
list(a)

['W',
 'e',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'a',
 ' ',
 'p',
 'a',
 'r',
 't',
 ' ',
 'o',
 'f',
 ' ',
 'f',
 'u',
 'l',
 'l',
 ' ',
 's',
 't',
 'a',
 'c',
 'k']

In [105]:
s = "sudh"

In [101]:
s.isalnum()

True

In [102]:
s.isupper()

False

In [103]:
s.upper()

'SUDH'

In [106]:
s.islower()

True

In [107]:
s.lower()

'sudh'

In [108]:
s = "Sudh 1"

In [110]:
s.isnumeric()

False

In [111]:
s.isspace()

False

In [112]:
s.isdigit()

False

In [118]:
s = "123"

In [119]:
s.isdigit()

True

In [120]:
s = " Find"

In [122]:
s.endswith("d")

True

In [123]:
s.startswith("F")

False

In [124]:
s.startswith(" ")

True

In [127]:
s = "absc"

In [128]:
s.isalpha()

True

In [130]:
s.encode()

b'absc'

In [131]:
s.format()

'absc'

In [132]:
s = "This is a full stack batch"

In [133]:
len(s)

26

In [134]:
count = 0
for i in s:
    count = count + 1
print(count)

26

In [137]:
for i in range(len(s)):
    print(s[i])

T
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

b
a
t
c
h

In [138]:
for i in range(len(s)):
    print(s[-i])

T
h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h

In [139]:
s = "sudh"

In [140]:
ch = len(s) -1 
while ch >=0:
    print(s[ch])
    ch = ch -1

h
d
u
s

In [141]:
name = "ineuron"
vowels = "AaEeIiOoUu"

for i in name:
    if i in vowels :
        print("{} this is vowels".format(i))
    else:
        print("{} is not a vowels".format(i))

i this is vowels
n is not a vowels
e this is vowels
u this is vowels
r is not a vowels
o this is vowels
n is not a vowels

In [143]:
"{} is my home town".format("Pangavhan")

'Pangavhan is my home town'

In [144]:
"{} like ice crime ".format("we")

'we like ice crime '

In [ ]:
# Write a program to check the palindrome check

In [149]:
s = input("Eneter a data for which you would you like to check palindrome")
s1 = s[::-1]
if s == s1:
    print("its a some")
else:
    print("its not a same")

Eneter a data for which you would you like to check palindrome maam

its a some

# List

In [151]:
l = ["Bhimrao","Now",123,43,54,[23,98]]

In [152]:
l[3]

43

In [153]:
l[3:0:-1]

[43, 123, 'Now']

In [154]:
list = ["sudh",34,34,45,[34,45]]

In [155]:
list

['sudh', 34, 34, 45, [34, 45]]

In [156]:
list[3]

45

In [157]:
list [0:3:-1]

[]

In [158]:
list[3:0:-1]

[45, 34, 34]

In [159]:
list[::1]

['sudh', 34, 34, 45, [34, 45]]

In [160]:
list[::-1]

[[34, 45], 45, 34, 34, 'sudh']

In [2]:
l = ["Bhimrao","Now",123,43,54,[23,98]]

In [3]:
l

['Bhimrao', 'Now', 123, 43, 54, [23, 98]]

In [4]:
list = ["sudh",34,34,45,[34,45]]

In [5]:
l + list

['Bhimrao', 'Now', 123, 43, 54, [23, 98], 'sudh', 34, 34, 45, [34, 45]]

In [6]:
B = l + list

In [8]:
B

['Bhimrao', 'Now', 123, 43, 54, [23, 98], 'sudh', 34, 34, 45, [34, 45]]

In [10]:
"My first name is {} and last name is {}".format("Bhimrao","Pawar")

'My first name is Bhimrao and last name is Pawar'

In [16]:
s = "this is a full stack batch"
for i in range(len(s)):
    print(s[-i],end="")

thctab kcats lluf a si sih

In [15]:
s = "this is a full stack batch"
for i in range(len(s)):
    print(s[-(i+1)],end="")

hctab kcats lluf a si siht

In [13]:
s = "this is a full stack batch"
for i in range(len(s)):
    print(s[-(i+1)], end="")

hctab kcats lluf a si siht

In [18]:
s = "this is a full stack batch"
for i in range(len(s)):
    print(s[-i-1],end="")

hctab kcats lluf a si siht

In [19]:
str1="Saikiran"
str = "Sai"

In [20]:
str

'Sai'

In [21]:
str1

'Saikiran'

In [22]:
l = ["sudh" ,234,45,56,[45,56,6,"c"],True]

In [23]:
for i in l:
    print(i)

sudh
234
45
56
[45, 56, 6, 'c']
True

In [24]:
l[0]

'sudh'

In [25]:
l[::-1]

[True, [45, 56, 6, 'c'], 56, 45, 234, 'sudh']

In [26]:
for i in l:
    if type(i)==list:
        print("this is a list ",i)
    else:
        print("no element is in list",i)

no element is in list sudh
no element is in list 234
no element is in list 45
no element is in list 56
this is a list  [45, 56, 6, 'c']
no element is in list True

In [27]:
l1 = [345,2232,"Inueron","tech"]

In [28]:
l + l1

['sudh', 234, 45, 56, [45, 56, 6, 'c'], True, 345, 2232, 'Inueron', 'tech']

In [29]:
l * 2

['sudh',
 234,
 45,
 56,
 [45, 56, 6, 'c'],
 True,
 'sudh',
 234,
 45,
 56,
 [45, 56, 6, 'c'],
 True]

In [30]:
len(l1)

4

In [31]:
True in l

True

In [34]:
345 in l1

True

In [35]:
"tech" in l1

True

In [40]:
print(max([2,5,6,4,3]))

6

In [41]:
min(["abcd","dgdkj","dhwe"])

'abcd'

In [42]:
max(["abcd","dgdkj","dhwe"])

'dhwe'

In [43]:
l = [1,2,3,4]

In [46]:
l.append("Bhim") # append element at the end

In [45]:
l

[1, 2, 3, 4, 'Bhim']

In [47]:
l1 = [5,6,7,8]

In [48]:
l.append(l1)

In [49]:
l

[1, 2, 3, 4, 'Bhim', 'Bhim', [5, 6, 7, 8]]

In [57]:
# insert opration at any where using index

In [51]:
l.insert(5,"Pawar")

In [52]:
l

[1, 2, 3, 4, 'Bhim', 'Pawar', 'Bhim', [5, 6, 7, 8]]

In [55]:
l.insert(-1-1,"Nice")

In [56]:
l

[1, 2, 3, 4, 'Bhim', 'Pawar', 'Bhim', 'Nice', 'Nice', [5, 6, 7, 8]]

In [59]:
l.count("Bhim")

2

In [60]:
l.count(5)

0

In [61]:
l.count("Nice")

2

In [62]:
l = [1,2,3,4]

In [63]:
l.append("Bhim")

In [64]:
l

[1, 2, 3, 4, 'Bhim']

In [70]:
l.extend("test1") # alway try to unwraped

In [66]:
l

[1, 2, 3, 4, 'Bhim', 't', 'e', 's', 't', '1']

In [69]:
s = "test"
list(s)

['t', 'e', 's', 't']

In [71]:
l.append ([2,3,4,5])

In [72]:
l

[1,
 2,
 3,
 4,
 'Bhim',
 't',
 'e',
 's',
 't',
 '1',
 't',
 'e',
 's',
 't',
 '1',
 [2, 3, 4, 5]]

In [76]:
l

'Bhim'

In [78]:
l.index("Bhim")

0

In [79]:
l = [1,2,3,4,5,6,7,8,"Bhim"]

In [80]:
l.index(1)

0

In [81]:
l.index(7)

6

In [82]:
l.index("Bhim")

8

In [84]:
l[8]

'Bhim'

In [85]:
l.pop() # removed the last index element permanatly

'Bhim'

In [86]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [87]:
l.pop(0)

1

In [88]:
l

[2, 3, 4, 5, 6, 7, 8]

In [89]:
l.pop(2)

4

In [90]:
l

[2, 3, 5, 6, 7, 8]

In [91]:
l.remove(6)

In [92]:
l

[2, 3, 5, 7, 8]

In [93]:
l.remove(2)

In [94]:
l

[3, 5, 7, 8]

In [95]:
l = [6,6,6,6,6,6,5,4,3,2,1]

In [96]:
l

[6, 6, 6, 6, 6, 6, 5, 4, 3, 2, 1]

In [97]:
l.remove(6)

In [98]:
l

[6, 6, 6, 6, 6, 5, 4, 3, 2, 1]

In [99]:
l

[6, 6, 6, 6, 6, 5, 4, 3, 2, 1]

In [101]:
l.reverse()

In [102]:
l

[1, 2, 3, 4, 5, 6, 6, 6, 6, 6]

In [103]:
l.sort()

In [104]:
l

[1, 2, 3, 4, 5, 6, 6, 6, 6, 6]

In [105]:
l = ["Apple","Rice" , "Wine" ,"Banana"]

In [106]:
l.sort()

In [107]:
l

['Apple', 'Banana', 'Rice', 'Wine']

In [108]:
l = [[],[],[],[]]

In [109]:
l.append([])

In [110]:
l

[[], [], [], [], []]

In [111]:
l.append([])

In [117]:
l.insert(1,[2+3j])

In [118]:
l

[[], [(2+3j)], [], [], [], [], []]

In [122]:
l = []
for i in range(5):
    l.append(int(input()))
print(l)

 5
 5
 54
 4
 4

[5, 5, 54, 4, 4]

In [2]:
# Find the index of the string element in the nested list and remove the string 

l = [[1,2,3],
     [11,12,'b','b','b'],
     [21,'t',223],
     [4,5,6],
     [7,8,9],
     'demo'
     ,12.5]

for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is ".format(i[j]),j)
            j = j + 1

        j=0            

        while j < len(i):
            if type(i[j]) is str:
                print("The string in nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j + 1

print("List after removal of string from nested list is \r",l,'\n')

Index of string b is  2
Index of string b is  3
Index of string b is  4
The string in nested list is 'b'
The string in nested list is 'b'
The string in nested list is 'b'
Index of string t is  1
The string in nested list is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [1]:
l = [[1, 2, 3],
     [11, 12, 'b', 'b', 'b'],
     [21, 't', 223],
     [4, 5, 6],
     [7, 8, 9],
     'demo',
     12.5]

for i in l:
    if isinstance(i, list):
        string_indices = [index for index, val in enumerate(i) if isinstance(val, str)]
        for index in reversed(string_indices):
            print("Index of string '{}' is {}".format(i[index], index))
            i.pop(index)

print("List after removal of string from nested list is:")
for sublist in l:
    print(sublist)

Index of string 'b' is 4
Index of string 'b' is 3
Index of string 'b' is 2
Index of string 't' is 1
List after removal of string from nested list is:
[1, 2, 3]
[11, 12]
[21, 223]
[4, 5, 6]
[7, 8, 9]
demo
12.5

In [1]:
l = [1,2,3,4,5]

In [2]:
l1 = []

In [6]:
for i in "sudh":   # list comprehensing
    l1.append(i)

In [4]:
l1

['s', 'u', 'd', 'h']

In [5]:
[i for i in "sudh"]  # comprehensing list

['s', 'u', 'd', 'h']

In [7]:
[[i] for i in "sudh"]

[['s'], ['u'], ['d'], ['h']]

In [8]:
l = []                  
for i in range(10):
    if i%2 == 0:
        l.append(i)

In [9]:
l

[0, 2, 4, 6, 8]

In [10]:
[i for i in range(10) if i% 2== 0]  # list comprehension

[0, 2, 4, 6, 8]

In [11]:
l = []                    # list comprehension 
for i in range(10):   
    if i % 2 !=0:
        l.append("odd")
    else:
        l.append("Even")

In [12]:
l

['Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']

In [13]:
["odd" if i% 2 !=0 else "even"  for i in range(10)] # List comprehension

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [14]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)

mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [16]:
[[j for j in range (3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [20]:
[i for i in range(8) if i % 2 == 0 if i % 3 == 0]

[0, 6]

In [21]:
l = []
for i in range(8):
    if i % 2 == 0:
        if i%3 == 0:
            l.append(i)

In [22]:
l

[0, 6]

In [25]:
l = [] 
for i in range(10):
    l.append(i)

In [26]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
["yes" if i == 1 else "no" if i == 2 else "test" for i in l ]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [30]:
res = []
for i in l :
    if i == 1:
        res.append("yes")
    elif i == 2:
        res.append("no")
    else:
        res.append("test")

In [32]:
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [35]:
l = [ "Bhim" ,'a','b']

In [36]:
l.sort()

In [37]:
l

['Bhim', 'a', 'b']

In [38]:
l.reverse()

In [39]:
l

['b', 'a', 'Bhim']

# Tuple

In [41]:
t = ()

In [42]:
type(t)

tuple

In [43]:
l = []

In [44]:
type(l)

list

In [45]:
t1 = (234,34,"sudh",3.45,True)

In [46]:
l = [234,34,"sudh",3.45,True]

In [48]:
t1[0]

234

In [49]:
l[0]

234

In [51]:
t[5]  # index does not exist

IndexError: tuple index out of range

In [52]:
t1[0:4]

(234, 34, 'sudh', 3.45)

In [54]:
t1[::-1]  # data in revese

(True, 3.45, 'sudh', 34, 234)

In [55]:
t1[-1]

True

In [57]:
l

[234, 34, 'sudh', 3.45, True]

In [58]:
l[1] = "Harish" # list is mutable

In [59]:
l

[234, 'Harish', 'sudh', 3.45, True]

In [61]:
t1 [2] = "Marks" # tuples is immutable

TypeError: 'tuple' object does not support item assignment

In [62]:
t2 = (234,45,565)

In [64]:
t1 + t2   # complitly new location

(234, 34, 'sudh', 3.45, True, 234, 45, 565)

In [65]:
t1

(234, 34, 'sudh', 3.45, True)

In [66]:
34 in t1

True

In [68]:
"dgd" in t1

False

In [69]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [70]:
t3 = (1,2,3,4,5,6)

In [72]:
max(t3)

6

In [73]:
t4 = ( " a" , "b" ,"c")

In [74]:
max(t4)

'c'

In [4]:
t3 = (1,2,3,4,5,6)
t3.count(1)

1

In [5]:
min(t3)

1

In [6]:
max(t3)

6

In [7]:
t3

(1, 2, 3, 4, 5, 6)

In [8]:
t1 = (234,34,'sudh',3.44,34,34,34,True)

In [9]:
t1

(234, 34, 'sudh', 3.44, 34, 34, 34, True)

In [10]:
t5 = list(t1)  # convert tuple to list and performing operations because of immutability

In [11]:
t5

[234, 34, 'sudh', 3.44, 34, 34, 34, True]

In [12]:
t5.append("Bhim")

In [13]:
t5

[234, 34, 'sudh', 3.44, 34, 34, 34, True, 'Bhim']

In [16]:
t6 = tuple(t5)  # convert list into tuples

In [15]:
t6

(234, 34, 'sudh', 3.44, 34, 34, 34, True, 'Bhim')

In [18]:
t = ((3,5,6,6),("dfhe",45,43))

In [19]:
t

((3, 5, 6, 6), ('dfhe', 45, 43))

In [20]:
t[1]

('dfhe', 45, 43)

In [21]:
t[0]

(3, 5, 6, 6)

In [22]:
for i in t:
    print(i)

(3, 5, 6, 6)
('dfhe', 45, 43)

In [23]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
dfhe

In [24]:
t1

(234, 34, 'sudh', 3.44, 34, 34, 34, True)

In [26]:
t5

[234, 34, 'sudh', 3.44, 34, 34, 34, True, 'Bhim']

In [27]:
if len(t1)==len(t5):
    print("it is same")
else:
    print("its not same")

its not same

In [30]:
i = input("take user input")

if i in t5:
    print("Yes ur name is available")
else:
    print("Your name is not available")

take user input Bhim

Yes ur name is available

# set

In [35]:
x = set()   # set is given distinct elements, indexing does not support, unordered collection or not sorted

In [32]:
type(x)

set

In [33]:
l =[34,45,64,74,55,11,55,48,45,45,45]

In [34]:
set(l)

{11, 34, 45, 48, 55, 64, 74}

In [36]:
s = set(l)

In [37]:
s

{11, 34, 45, 48, 55, 64, 74}

In [39]:
for i in s:
    print(i)

64
34
74
11
45
48
55

In [40]:
74 in s

True

In [42]:
s = set()
s.add("bhim")

In [43]:
s

{'bhim'}

In [44]:
s.clear()

In [45]:
s

set()

In [8]:
s={45,33,34,22,23,39}

In [9]:
s.remove(23)

In [10]:
s

{22, 33, 34, 39, 45}

In [11]:
s

{22, 33, 34, 39, 45}

In [12]:
s.add(23)

In [13]:
s

{22, 23, 33, 34, 39, 45}

In [14]:
s1 = set()

In [15]:
l = [232,33,333,53,44,55]

In [16]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [17]:
s * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [19]:
l4 =list(s)

In [20]:
l4.append(123)

In [21]:
l4

[33, 34, 23, 22, 39, 45, 123]

In [23]:
t4 = tuple(l4)

In [24]:
set(l4)

{22, 23, 33, 34, 39, 45, 123}

# Dictionary

In [25]:
x = {}

In [26]:
type(x)

dict

In [27]:
x = {23,12}

In [28]:
type(x)

set

In [31]:
x = {"name": "Bhima", "age":29}  # store data based on indexs = key pair and value

In [30]:
type(x)

dict

In [34]:
x.keys()

dict_keys(['name', 'age'])

In [35]:
x.values()

dict_values(['Bhima', 29])

In [36]:
x = {"name": "Bhima", "age":29, "name": "Pawar", True: "how"} # update the latest one  Key will be always be unique

In [37]:
x

{'name': 'Pawar', 'age': 29, True: 'how'}

In [1]:
x = {"name" : "bhim" ,"age" :29} # name, age = key and values = bhim and 26  value are duplicate but key not allowed

In [2]:
x

{'name': 'bhim', 'age': 29}

In [4]:
x1 = {"name" : "Bhim" , "age" : 24 , True : {45,333342,23,44,}, "Key" : False , 2345: (34,46,55,) , "fdgd" : [10,11,12,13]}

In [5]:
x1

{'name': 'Bhim',
 'age': 24,
 True: {23, 44, 45, 333342},
 'Key': False,
 2345: (34, 46, 55),
 'fdgd': [10, 11, 12, 13]}

In [6]:
l = [24,34,22,2]

In [7]:
l[3]

2

In [9]:
x1

{'name': 'Bhim',
 'age': 24,
 True: {23, 44, 45, 333342},
 'Key': False,
 2345: (34, 46, 55),
 'fdgd': [10, 11, 12, 13]}

In [13]:
x1 ["age"]

24

In [14]:
x1["Key"]

False

In [16]:
x1 [True]

{23, 44, 45, 333342}

In [18]:
x1['fdgd']

[10, 11, 12, 13]

In [19]:
type(x1['fdgd'])

list

In [21]:
x1["fdgd"][2]

12

In [23]:
x1.values()

dict_values(['Bhim', 24, {44, 45, 333342, 23}, False, (34, 46, 55), [10, 11, 12, 13]])

In [25]:
x1.keys()

dict_keys(['name', 'age', True, 'Key', 2345, 'fdgd'])

In [26]:
x4 = {"k4" : "Fsdfs"}

In [27]:
x1 + x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [28]:
x4 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [31]:
x4["k4"] = "Bhim"   # Dictionary is mutable

In [30]:
x4

{'k4': 'Bhim'}

In [33]:
x4 ['k4'] = 456

In [34]:
x4

{'k4': 456}

In [36]:
x4['k4'] -= 10

In [37]:
x4

{'k4': 446}

In [40]:
x4 ['k4'] = x4['k4'] - 10

In [42]:
for i in x4:     # only give me key 
    print(i)

k4

In [44]:
for i in x4:     # gives the value s 
    print(x4[i])

436

In [45]:
x1

{'name': 'Bhim',
 'age': 24,
 True: {23, 44, 45, 333342},
 'Key': False,
 2345: (34, 46, 55),
 'fdgd': [10, 11, 12, 13]}

In [46]:
for i in x1.keys():
    print(x1[i])

Bhim
24
{44, 45, 333342, 23}
False
(34, 46, 55)
[10, 11, 12, 13]

In [48]:
for i in x1.keys():
    print(type(x1[i]))

<class 'str'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [50]:
x1.items()

dict_items([('name', 'Bhim'), ('age', 24), (True, {44, 45, 333342, 23}), ('Key', False), (2345, (34, 46, 55)), ('fdgd', [10, 11, 12, 13])])

In [51]:
for i in x1.items():
    print(i)

('name', 'Bhim')
('age', 24)
(True, {44, 45, 333342, 23})
('Key', False)
(2345, (34, 46, 55))
('fdgd', [10, 11, 12, 13])

In [53]:
for i in x1.items():  # only keys 
    print(i[0])

name
age
True
Key
2345
fdgd

In [55]:
for i in x1.items():  # only values
    print(i[1])

Bhim
24
{44, 45, 333342, 23}
False
(34, 46, 55)
[10, 11, 12, 13]

In [56]:
x1

{'name': 'Bhim',
 'age': 24,
 True: {23, 44, 45, 333342},
 'Key': False,
 2345: (34, 46, 55),
 'fdgd': [10, 11, 12, 13]}

In [57]:
len(x1)

6

In [58]:
e = {56:{45,78 , 89}}

In [59]:
e[56]

{45, 78, 89}

In [99]:
list(e[56])[]

89

In [64]:
page = input("Enter a para ")

Enter a para   bhimrao devidas pawar

In [65]:
para = list[page]

In [66]:
para

list[' bhimrao devidas pawar ']

In [67]:
dict = {"para": "bhimrao devidas pawar"}

In [68]:
t = ("para","bhimrao devidas pawar")

In [72]:
for i in dict.items():
    print(i[0])

para

In [73]:
for i in dict.items():
    print(i[1])

bhimrao devidas pawar

In [74]:
d  = {"company" : "inueron" , "course" : "Full stack data science", "year": 2021}

In [76]:
for i in d:
    print("print a key : " , i , " ; " ,"value wise :" , d[i])

print a key :  company  ;  value wise : inueron
print a key :  course  ;  value wise : Full stack data science
print a key :  year  ;  value wise : 2021

In [78]:
"course" in d

True

In [81]:
for i in d:
    if i == "year":
        if d[i] > 2021:
            print("year is fine ")
        else:
            d[i] = 2022

year is fine

In [82]:
d

{'company': 'inueron', 'course': 'Full stack data science', 'year': 2022}

In [84]:
my_dict = {}
for i in range(10):
    my_dict[i] = i * i

In [85]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [91]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [93]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}

# Function

In [100]:
a = 2
b = 3

a + b

5

In [114]:
# def is nothing but a definition function. function is used to reusability 
def test(x,y):
    print(x + y)   # Body of functions 

# Call the function 
test(2,3)               # Here x = 2 and y = 3   then  x + y  you will get results

5

In [109]:
test(10,2)

12

In [110]:
test(2,10)

12

In [111]:
test(222222 , 1110)

223332

In [113]:
def test1(b,m):
    return b * m 

# Call function 
test1(10,3)

30

In [115]:
def test(x,y):
    print(x + y)   

# Call the function 
test(2,3) + 3  # Here we not get the result

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [120]:
type(test(2,3))

5

NoneType

In [116]:
def test1(b,m):           
    return b * m 

# Call function           
test1(10,3) + 6          # here we get results

36

In [121]:
type(test1(10,3))

int

In [122]:
def test2(t,n,m):
    return t + n 

# Call function

test2(10,2)

TypeError: test2() missing 1 required positional argument: 'm'

In [123]:
def test2(t,n,m):
    return t + n 

# Call function

test2(10,2,3)   # given argument but operation done only two number

12

In [124]:
def test3(n,m):
    return n*10 , m*5 , m+n

# Call function 
test3(2,7)

(20, 35, 9)

In [125]:
type(test3(2,7))

tuple

In [126]:
test3(5,2)

(50, 10, 7)

In [127]:
c , x , v = test3(2,7)

In [128]:
c

20

In [129]:
x

35

In [130]:
v

9

In [138]:
c , x ,  _ = test3(2,7)   # place holder

In [139]:
c

20

In [140]:
x

35

In [141]:
_        # previous value hold

35

In [142]:
c , _ , m = test3(2,7)

In [143]:
c

20

In [144]:
_        # return previous hold value

20

In [145]:
m

9

In [150]:
def test7():
    return "this first class"

In [151]:
n = test7()

In [152]:
n + "djdfg"

'this first classdjdfg'

In [153]:
def test8(n):
    return n * 3

In [154]:
test8([3,4,5,6,7])

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [155]:
test8(67)

201

In [158]:
def test9(n):
    return n , n*2

In [159]:
test9([2,3,4,5,6,7])

([2, 3, 4, 5, 6, 7], [2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7])

In [160]:
b = test9([2,3,4,5,6,7])

In [161]:
b[0]

[2, 3, 4, 5, 6, 7]

In [162]:
b[1]

[2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7]

In [2]:
def test10(n , m = 90):
    return n + m

In [4]:
test10(40)

130

In [5]:
def test10(n , m = 90):  # over write 
    return n + m

In [7]:
test10(60,30)

90

In [8]:
def boolx(x =True , y =False):
    return x + y

In [9]:
boolx()

1

In [10]:
boolx(False)

0

In [11]:
boolx(False , 8)

8

In [12]:
True + False

1

In [16]:
def traval(bike=True, Car=False):
    plan_traval = bike or Car
    return bike, Car, plan_traval

traval()

(True, False, True)

# *args

In [17]:
traval(Car = True )   # over write Car False value

(True, True, True)

In [18]:
def test11(*args) :   # pass any number of argument (*) any numbers 
   return args        # its gives the tuple internally 

test11(" Bhim", " Pawar" ,34 ,[34,4,4,5,45,343])

(' Bhim', ' Pawar', 34, [34, 4, 4, 5, 45, 343])

In [22]:
def create_list(*args):
    return args
    
print(create_list("Bhim", "pawar", [2, 3, 4], [4, 5, 6]))

('Bhim', 'pawar', [2, 3, 4], [4, 5, 6])

In [23]:
def test12(a,b,c):
    return a + b + c

test12([1,2,3],[4,5,6,7],[3,4,5])

[1, 2, 3, 4, 5, 6, 7, 3, 4, 5]

In [26]:
def test13(*args):
    l = []
    for i in args:
        l = l + i
    return l

test13([1, 2, 3], [3, 4, 5, 6], [5, 6, 7, 8])

[1, 2, 3, 3, 4, 5, 6, 5, 6, 7, 8]

In [28]:
test13([1,2,3,4],[1,9,8,7])

[1, 2, 3, 4, 1, 9, 8, 7]

In [29]:
def test14(*args):
    return [i for i in args]

In [30]:
test14([12,13,14],[13 , 14,15],[12,23,21])

[[12, 13, 14], [13, 14, 15], [12, 23, 21]]

In [11]:
 def test15(*args):
     l = []
     for i in args:
         if type(i) == list:

             l = l + i
     return l

In [12]:
test15("fdsfd",234,[2,4,5],[5,4,3,6,7])

[2, 4, 5, 5, 4, 3, 6, 7]

#  **kwargs

In [14]:
def test16(**kwargs):     # kw key word argument (Dictionary key & value pair 
    return kwargs
                         # any number of data with key-value pair and its giving Dictionary internally 
    
test16( 4,5,6,74)

TypeError: test16() takes 0 positional arguments but 4 were given

In [15]:
test16( a = 8 ,b = 4, c=7, d = 10)

{'a': 8, 'b': 4, 'c': 7, 'd': 10}

In [16]:
test16( a = 6 , b = True, c =[3,4,5,67,8,"Bhim"], d = "Pawar")

{'a': 6, 'b': True, 'c': [3, 4, 5, 67, 8, 'Bhim'], 'd': 'Pawar'}

In [1]:
def test18(**kwargs):
    return kwargs

In [6]:
test18(a = 6, c=[4,5,6,7], d =["Bhim", "Pawar",5.6],n =3 + 5j)

{'a': 6, 'c': [4, 5, 6, 7], 'd': ['Bhim', 'Pawar', 5.6], 'n': (3+5j)}

In [11]:
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if "Bhim" in i[1] :
                print("I am able to find your name in input")
                print(i[1])
    return kwargs

In [12]:
test19(a = 6, c=[4,5,6,7], d =["Bhim", "Pawar",5.6],n =3 + 5j)

I am able to find your name in input
['Bhim', 'Pawar', 5.6]

{'a': 6, 'c': [4, 5, 6, 7], 'd': ['Bhim', 'Pawar', 5.6], 'n': (3+5j)}

In [22]:
def func1(*args):
    df = {}
    for i in args:
        if type(i) in df:
             df[type(i)].append(i)
        else:
            df[type(i)] = [i]
    return df

func1(1,2,3,[5,6,7],"hi", "nice", 3 + 7j)

{int: [1, 2, 3], list: [[5, 6, 7]], str: ['hi', 'nice'], complex: [(3+7j)]}

In [1]:
def test(**kwargs):
    print(kwargs)

In [3]:
test(x = "bhim",y = 56, z = 45.67)

{'x': 'bhim', 'y': 56, 'z': 45.67}

In [4]:
def test(**kwargs):
    print(kwargs.items())

In [5]:
test(x = "bhim",y = 56, z = [45.67,2,3,5])

dict_items([('x', 'bhim'), ('y', 56), ('z', [45.67, 2, 3, 5])])

# Anomus or Lambda function

In [8]:
def test(name , mail_id):
    con = name + mail_id
    return mail_id, name , con

In [9]:
test("Bhim" , " bhimrao.pawar07@gmail.com")

(' bhimrao.pawar07@gmail.com', 'Bhim', 'Bhim bhimrao.pawar07@gmail.com')

In [10]:
a = 10 
b = 20 

def test1(x , y) :
    return x + y 


test(a,b)

(20, 10, 30)

In [15]:
m = lambda x,y : x+y  # A Function without name

In [14]:
m(a,b)

30

In [16]:
m("Bhim", "bhimrao.pawar@gmail.com")

'Bhimbhimrao.pawar@gmail.com'

In [17]:
b = "Bhim" 
c = "test"
n = lambda arg1 , arg2, : print(arg1, arg2)

In [18]:
n(b, c)

Bhim test

In [19]:
r = 10        # Global variable 
def test3(a ,b ):
    r = a / b  # Local variable 
    print(r)

In [20]:
test3(10,10)

1.0

# local and Global variable

In [21]:
r = 10        # Global variable 
def test3(a ,b ):
    r = a / b  # Local variable 
    print(r)

In [22]:
test3(10,10)

1.0

In [23]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# iterable and iterator

In [31]:
a = 10          # iterable is kind of data  extract the data into iterator 
for i in a : 
    print(i)

TypeError: 'int' object is not iterable

In [35]:
for i in "Bhim":     # convert string to iterator 
    print(i)

B
h
i
m

In [34]:
b = "Bhim"    # iterator kind of data 
next(b)

TypeError: 'str' object is not an iterator

In [37]:
s = iter(b)

In [39]:
next(s)

'B'

In [43]:
next(s)

'h'

In [44]:
next(s)

'i'

In [45]:
next(s)

'm'

In [40]:
a = 10
next(a)

TypeError: 'int' object is not an iterator

In [41]:
iter(a)

TypeError: 'int' object is not iterable

In [46]:
s = "sudh"

In [47]:
s = iter(s)

In [48]:
next(s)

's'

In [49]:
next(s)

'u'

In [50]:
next(s)

'd'

In [51]:
next(s)

'h'

In [52]:
next(s)

StopIteration:

In [53]:
l = [1,2,3,4,5]

In [55]:
p=iter(l)

In [56]:
next(p)

1

In [57]:
next(p)

2

In [58]:
next(p)

3

In [59]:
next(p)

4

In [60]:
next(p)

5

In [62]:
t = (4,5,6,7)

In [63]:
t = iter(t)

In [64]:
next(t)

4

In [65]:
next(t)

5

In [66]:
next(t)

6

In [67]:
next(t)

7

# Generator

In [73]:
def test4(n):
    l = []
    for i in range(n):
        l.append(i)
    return l

In [74]:
test4(6)

[0, 1, 2, 3, 4, 5]

In [75]:
def test4(n):
    l = []
    for i in range(n):
        l.append(i**3)
    return l

In [76]:
test4(6)

[0, 1, 8, 27, 64, 125]

In [78]:
def test5(n):
    for i in range(n):
        yield i **3          # yield keyword help out what done last time

In [79]:
test5(30)

In [82]:
for i in test5(30):
    print(i)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389

In [80]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [81]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Fibonachi series

In [87]:
def genfib(n):
    a = 1
    b = 1
    output =[]
    for i in range(n):
        output.append(a)
        a , b = b , a + b
    return output

In [88]:
genfib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [89]:
def genfib(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a , b = b , a+b

In [90]:
genfib(6)

In [91]:
for i in genfib(6):
    print(i)

1
1
2
3
5
8

# read and write file

In [100]:
f = open("test.txt","w")  # "w" crite file

In [101]:
f.write(r"Bhimrao Pawar") # you can write data into file

13

In [120]:
f.close()  # you can close file

In [103]:
f = open("test.txt")  # again open file

In [104]:
f.read()  # read text.txt file

'Bhimrao Pawar'

In [105]:
f.read()

' is the best Data Scientist he has practised Hard \nHe will get huge package job in the Data Science community.\nBhimrao should be keeping the practice code \nThen and then he will achieve his dream jobs \n'

In [106]:
f.seek(10)   # reset coursor on 10 th position

10

In [107]:
f.read()  # you can read data from 10 position

'war is the best Data Scientist he has practised Hard \nHe will get huge package job in the Data Science community.\nBhimrao should be keeping the practice code \nThen and then he will achieve his dream jobs \n'

In [108]:
f.read()

''

In [111]:
f.seek(0) # again you can reset the coursor & read data from that point

0

In [112]:
f.read()

'Bhimrao Pawar is the best Data Scientist he has practised Hard \nHe will get huge package job in the Data Science community.\nBhimrao should be keeping the practice code \nThen and then he will achieve his dream jobs \n'

In [114]:
f = open("test.txt","r")  # you can only read file not write on it

In [115]:
f.write("Devidas")

UnsupportedOperation: not writable

In [116]:
f.read()

'Bhimrao Pawar is the best Data Scientist he has practised Hard \nHe will get huge package job in the Data Science community.\nBhimrao should be keeping the practice code \nThen and then he will achieve his dream jobs \n'

In [117]:
f.seek(1)

1

In [119]:
f.read(25)  # from the coursor to the 25 th charector

'Data Scientist he has pra'

In [121]:
f.close()

In [123]:
f =  open("test.txt",'w')

In [124]:
f.write("Again open need to practice")

27

In [125]:
f.close()

In [126]:
f =  open("test.txt",'a')

In [127]:
f.write("Ohhh!!!")

7

In [128]:
f.close()

In [130]:
f =  open("test.txt")

In [131]:
f.read()

'Again open need to practiceOhhh!!!'

In [132]:
f =  open("test.txt",'w')

In [133]:
f.write("Bhim are practice in data science")

33

In [139]:
f =  open("test.txt",'r')

In [136]:
f.readline()

'Bhim are practice in data science'

In [140]:
for i in f :
    print( i , end =" ")

Bhim are practice in data science

In [141]:
f.close()

In [145]:
f = open("test.txt", "r")  # Its will only read mode

In [146]:
f = open("test.txt" , "r+")  # this will read and write data mode

In [147]:
f.write("Practice make man perfect")

25

In [148]:
f.read()

' science'

In [149]:
f.readline()

''

In [150]:
f.close()

In [151]:
f = open("test.txt" , "r+")

In [152]:
f.writelines("python is best tool for data science community")

In [153]:
f.close()

In [154]:
f = open("test.txt", "r")

In [155]:
f.read()

'python is best tool for data science community'

In [157]:
f.read()

''

In [158]:
f.seek(0)

0

In [159]:
f.read()

'python is the best tool for the data science community.\n'

In [160]:
f.fileno()

3

In [161]:
%%writefile test.txt
this is another option to write the command in the file

Overwriting test.txt

In [162]:
f.close()

In [163]:
import os

In [165]:
pwd() # present working Dictory of this notebook

'C:\\Users\\bhimr'

In [167]:
os.getcwd() # current working directory

'C:\\Users\\bhimr'

In [169]:
os.listdir()

[' Hands on NLP (Data trends) .ipynb',
 ' KNeighborsClassifier CODE.ipynb',
 '.anaconda',
 '.astropy',
 '.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.git',
 '.gitconfig',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.lesshst',
 '.matplotlib',
 '.spyder-py3',
 '.viminfo',
 '.vscode',
 '100 Day python .ipynb',
 '3D Objects',
 'abalone.csv',
 'AgglomerativeClustering Codes .ipynb',
 'alexa_review.txt',
 'All practise on Iris data set .ipynb',
 'All Regression.ipynb',
 'Amazon_Alexa_reviews .ipynb',
 'anaconda3',
 'AppData',
 'Application Data',
 'archive.zip',
 'Assignment on web scraping  .ipynb',
 'Assignments-1   Python .ipynb',
 'AUC an ROC CURVE  CODE.ipynb',
 'avocado.csv',
 'Bank Marketing',
 'Base ball case study .ipynb',
 'Baseball Case Study.ipynb',
 'baseball.csv',
 'bikes.csv',
 'blood_pressure.csv',
 'Boston housing.csv',
 'boston.csv',
 'brainsize1.csv',
 'brain_size.csv',
 'Break count in python.ipynb',
 'Calculation.py',
 'Calculation.py.ipynb',
 'CLASSIFICATION    Classifiers   iris dataset .ipynb',
 'cleaned_data.csv',
 'Concrete_Data.csv',
 'conda',
 'Contacts',
 'Cookies',
 'Core Python Programs .ipynb',
 'correlation matrix .ipynb',
 'Data Science Numpy 1.ipynb',
 'Data Science PANDAS.ipynb',
 'Data Structures in python .ipynb',
 'Data_Test.xlsx',
 'Data_Train.xlsx',
 'DBSCAN clustering code.ipynb',
 'Decision Tree with Gini & Entropy CODE.ipynb',
 'DecisionTreeClassifier CODE.ipynb',
 'DecisionTreeRegressor CODE.ipynb',
 'diabetes.csv',
 'Documents',
 'Downloads',
 'Dr. Angela program practice .ipynb',
 'DT Classification with Post Pruning pre pruning. (iris dataset) .ipynb',
 'DT Regression with Cross validation (boston dataset) .ipynb',
 'dtcfile.obj',
 'dt_regressor_model.joblib',
 'E6 CUTOFF MODEL.csv',
 'E6 CUTOFF PREDICTION MODEL .ipynb',
 'E6 MDF Predictions Model regressor problems statement  .ipynb',
 'E6 MFD Model .csv',
 'E6 ZD MODEL .csv',
 'EDA --Titanic Train.ipynb',
 'ElasticNet CODE.ipynb',
 'empl.csv',
 'emptest.csv',
 'ENCODING TECHNIQUES & HANDLING MISSING OR NULL VALUES .ipynb',
 'Favorites',
 'file.txt',
 'Flaskpractice',
 'Functions, user def, Lambda, recursion function .ipynb',
 'Gaussian Naive Bayes classifier Algorithms on cancer data set.ipynb',
 'git_project1',
 'Glass Predictions .ipynb',
 'glass.csv',
 'Grades.csv',
 'GradientBoostingClassifier CODE.ipynb',
 'GradientBoostingRegressor CODE.ipynb',
 'Hands on feature engineering.ipynb',
 'Hands_on_Statistics .ipynb',
 'house.csv',
 'house_price_data_median.csv',
 'hrdata.csv',
 'images',
 'Ineuron python practice .ipynb',
 'input_text.txt',
 'install.log',
 'insurance.xlsx',
 'IntelGraphicsProfiles',
 'Internship',
 'iris.csv',
 'K Neighbors Classifier with Iris Datasets .ipynb',
 'Keras-Tuner Hidden Layers And Hidden Neurons.ipynb',
 'Kmean Unsuperwised Learning CODE.ipynb',
 'KNeighborsRegressor CODE.ipynb',
 'KNN Details .ipynb',
 'L3 correlation matrix.ipynb',
 'L3New clad to core ratio..ipynb',
 'L5 Correlation matrix.ipynb',
 'L5New.csv',
 'LASSO  REGRESSION CODE.ipynb',
 'Linear Regression model -2 on Concrete_data.csv.ipynb',
 'Linear+Regression-Full+Material.zip',
 'LinearRgression CODE .ipynb',
 'Links',
 'Local Settings',
 'Logistic Regression  Lasso Ridge ElasticNet SVM kernel Regressor cross validation, KFold.ipynb',
 'LogisticRegression  CODE.ipynb',
 'Love calculator.ipynb',
 'LR boston data set .ipynb',
 'LSA.ipynb',
 'MACHINE LEARNING LIBRARIES .ipynb',
 'Medical_cost.ipynb',
 'medical_cost_insurance.csv',
 'Microsoft',
 'ML  DATA SETS .ipynb',
 'ML first model .ipynb',
 'ML on iris data set.ipynb',
 'Mnist.ipynb',
 'mnist_model.h5',
 'mobiledata.csv',
 'Multicollinearity with Variance Inflation Factor.ipynb',
 'Music',
 'My Documents',
 'myenv',
 'myhrmodified24sep.csv',
 'my_project1',
 'naive_bayes  GaussianNB CODE.ipynb',
 'NetHood',
 'Neural Network MLPRegressor  CODE.ipynb',
 'new_text.txt',
 'Now',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TM.blf',
 'NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy.ipynb',
 'Ok Snake Game 1 .ipynb',
 'old_text.txt',
 'OneDrive',
 'Only Game & All Programs',
 'output_text.txt',
 'Pandas Library.ipynb',
 'Pipeline CODE .ipynb',
 'placement.csv',
 'Postman',
 'Predicting Whether the Customer Will Subscribe to Term Deposit (FIXED DEPOSIT) or not.ipynb',
 'president_heights.csv',
 'PrintHood',
 'project',
 'Pumpkin_Seeds_Dataset (1).csv',
 'Python built in function. .ipynb',
 'PYTHON  WORKSHEET 1.ipynb',
 'RandomForestClassifier  CODE.ipynb',
 'RandomForestClassifier_WineQuality.pkl',
 'RandomForestRegressor CODE.ipynb',
 'randomization .ipynb',
 'Real_Combine.csv',
 'Recent',
 'Regular Expressions Assignment 1 .ipynb',
 'Regularization Lasso and Ridge Regression .ipynb',
 'Remove Correlated Features Mobile dataset! .ipynb',
 'Restaurant Food Cost.ipynb',
 'rf_individualtree.png',
 'rf_model2_individualtree.png',
 'rf_model3_individualtree.png',
 'Ridge Regression  CODE.ipynb',
 'role_website.csv',
 'Rondom Number Guess game .ipynb',
 'sample .csv',
 'sample_text.docx',
 'sample_text.txt',
 'Sample_text1.txt',
 'Saved Games',
 'School Python notes ....ipynb',
 'scikit_learn_data',
 'SciPy Library & Hypothesis & EDA -- DATA SCIENCE .ipynb',
 'Searches',
 'SendTo',
 'Sentiment_Analysis_using_LSTM.ipynb',
 'seq2seq.h5',
 'SGD CLASSIFIER CODE.ipynb',
 'SGDClassifier CODE.ipynb',
 'Snake Game 1 .ipynb',
 'Social_Network_Ads.csv',
 'Star pattern in python .ipynb',
 'Start Menu',
 'Stemming and Lemmatization in NLP .ipynb',
 'Stop Words.ipynb',
 'string function school notes .ipynb',
 'Student Grade Predictions .ipynb',
 'student.csv',
 'student_marks.csv',
 'Suport Vector Regression CODE.ipynb',
 'support regressor code for any file .ipynb',
 'SVM regressor code Not working. .ipynb',
 'sweetviz_report.html',
 'sweetviz_report.htmp',
 'TAJ Game .ipynb',
 'Templates',
 'termdeposit_test.csv',
 'termdeposit_train.csv',
 'terrorist attacks data set linear Regression. .ipynb',
 'terrorist-attacks.csv',
 'test.txt',
 'titanic_train.csv',
 'Titanic_train_model.ipynb',
 'Tokenization in NLP .ipynb',
 'train,test and validation split .ipynb',
 'Treasure Island Game.ipynb',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'User define function def .ipynb',
 'Videos',
 'VIF Abalone data sets .ipynb',
 'Web Scraping - Beautiful Soup  .ipynb',
 'winequality-red.csv',
 'WineQuality.ipynb',
 'World_happiness_predictions.csv',
 'World_happyness_Prediction',
 'World_happyness_Prediction.ipynb',
 '__pycache__']

In [175]:
os.chdir('C:\\Users\\bhimr')

In [176]:
pwd()

'C:\\Users\\bhimr'

In [177]:
os.mkdir("Bhimrao")

In [178]:
pwd()

'C:\\Users\\bhimr'

In [179]:
os.listdir()

[' Hands on NLP (Data trends) .ipynb',
 ' KNeighborsClassifier CODE.ipynb',
 '.anaconda',
 '.astropy',
 '.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.git',
 '.gitconfig',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.lesshst',
 '.matplotlib',
 '.spyder-py3',
 '.viminfo',
 '.vscode',
 '100 Day python .ipynb',
 '3D Objects',
 'abalone.csv',
 'AgglomerativeClustering Codes .ipynb',
 'alexa_review.txt',
 'All practise on Iris data set .ipynb',
 'All Regression.ipynb',
 'Amazon_Alexa_reviews .ipynb',
 'anaconda3',
 'AppData',
 'Application Data',
 'archive.zip',
 'Assignment on web scraping  .ipynb',
 'Assignments-1   Python .ipynb',
 'AUC an ROC CURVE  CODE.ipynb',
 'avocado.csv',
 'Bank Marketing',
 'Base ball case study .ipynb',
 'Baseball Case Study.ipynb',
 'baseball.csv',
 'Bhimrao',
 'bikes.csv',
 'blood_pressure.csv',
 'Boston housing.csv',
 'boston.csv',
 'brainsize1.csv',
 'brain_size.csv',
 'Break count in python.ipynb',
 'Calculation.py',
 'Calculation.py.ipynb',
 'CLASSIFICATION    Classifiers   iris dataset .ipynb',
 'cleaned_data.csv',
 'Concrete_Data.csv',
 'conda',
 'Contacts',
 'Cookies',
 'Core Python Programs .ipynb',
 'correlation matrix .ipynb',
 'Data Science Numpy 1.ipynb',
 'Data Science PANDAS.ipynb',
 'Data Structures in python .ipynb',
 'Data_Test.xlsx',
 'Data_Train.xlsx',
 'DBSCAN clustering code.ipynb',
 'Decision Tree with Gini & Entropy CODE.ipynb',
 'DecisionTreeClassifier CODE.ipynb',
 'DecisionTreeRegressor CODE.ipynb',
 'diabetes.csv',
 'Documents',
 'Downloads',
 'Dr. Angela program practice .ipynb',
 'DT Classification with Post Pruning pre pruning. (iris dataset) .ipynb',
 'DT Regression with Cross validation (boston dataset) .ipynb',
 'dtcfile.obj',
 'dt_regressor_model.joblib',
 'E6 CUTOFF MODEL.csv',
 'E6 CUTOFF PREDICTION MODEL .ipynb',
 'E6 MDF Predictions Model regressor problems statement  .ipynb',
 'E6 MFD Model .csv',
 'E6 ZD MODEL .csv',
 'EDA --Titanic Train.ipynb',
 'ElasticNet CODE.ipynb',
 'empl.csv',
 'emptest.csv',
 'ENCODING TECHNIQUES & HANDLING MISSING OR NULL VALUES .ipynb',
 'Favorites',
 'file.txt',
 'Flaskpractice',
 'Functions, user def, Lambda, recursion function .ipynb',
 'Gaussian Naive Bayes classifier Algorithms on cancer data set.ipynb',
 'git_project1',
 'Glass Predictions .ipynb',
 'glass.csv',
 'Grades.csv',
 'GradientBoostingClassifier CODE.ipynb',
 'GradientBoostingRegressor CODE.ipynb',
 'Hands on feature engineering.ipynb',
 'Hands_on_Statistics .ipynb',
 'house.csv',
 'house_price_data_median.csv',
 'hrdata.csv',
 'images',
 'Ineuron python practice .ipynb',
 'input_text.txt',
 'install.log',
 'insurance.xlsx',
 'IntelGraphicsProfiles',
 'Internship',
 'iris.csv',
 'K Neighbors Classifier with Iris Datasets .ipynb',
 'Keras-Tuner Hidden Layers And Hidden Neurons.ipynb',
 'Kmean Unsuperwised Learning CODE.ipynb',
 'KNeighborsRegressor CODE.ipynb',
 'KNN Details .ipynb',
 'L3 correlation matrix.ipynb',
 'L3New clad to core ratio..ipynb',
 'L5 Correlation matrix.ipynb',
 'L5New.csv',
 'LASSO  REGRESSION CODE.ipynb',
 'Linear Regression model -2 on Concrete_data.csv.ipynb',
 'Linear+Regression-Full+Material.zip',
 'LinearRgression CODE .ipynb',
 'Links',
 'Local Settings',
 'Logistic Regression  Lasso Ridge ElasticNet SVM kernel Regressor cross validation, KFold.ipynb',
 'LogisticRegression  CODE.ipynb',
 'Love calculator.ipynb',
 'LR boston data set .ipynb',
 'LSA.ipynb',
 'MACHINE LEARNING LIBRARIES .ipynb',
 'Medical_cost.ipynb',
 'medical_cost_insurance.csv',
 'Microsoft',
 'ML  DATA SETS .ipynb',
 'ML first model .ipynb',
 'ML on iris data set.ipynb',
 'Mnist.ipynb',
 'mnist_model.h5',
 'mobiledata.csv',
 'Multicollinearity with Variance Inflation Factor.ipynb',
 'Music',
 'My Documents',
 'myenv',
 'myhrmodified24sep.csv',
 'my_project1',
 'naive_bayes  GaussianNB CODE.ipynb',
 'NetHood',
 'Neural Network MLPRegressor  CODE.ipynb',
 'new_text.txt',
 'Now',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TM.blf',
 'NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy.ipynb',
 'Ok Snake Game 1 .ipynb',
 'old_text.txt',
 'OneDrive',
 'Only Game & All Programs',
 'output_text.txt',
 'Pandas Library.ipynb',
 'Pipeline CODE .ipynb',
 'placement.csv',
 'Postman',
 'Predicting Whether the Customer Will Subscribe to Term Deposit (FIXED DEPOSIT) or not.ipynb',
 'president_heights.csv',
 'PrintHood',
 'project',
 'Pumpkin_Seeds_Dataset (1).csv',
 'Python built in function. .ipynb',
 'PYTHON  WORKSHEET 1.ipynb',
 'RandomForestClassifier  CODE.ipynb',
 'RandomForestClassifier_WineQuality.pkl',
 'RandomForestRegressor CODE.ipynb',
 'randomization .ipynb',
 'Real_Combine.csv',
 'Recent',
 'Regular Expressions Assignment 1 .ipynb',
 'Regularization Lasso and Ridge Regression .ipynb',
 'Remove Correlated Features Mobile dataset! .ipynb',
 'Restaurant Food Cost.ipynb',
 'rf_individualtree.png',
 'rf_model2_individualtree.png',
 'rf_model3_individualtree.png',
 'Ridge Regression  CODE.ipynb',
 'role_website.csv',
 'Rondom Number Guess game .ipynb',
 'sample .csv',
 'sample_text.docx',
 'sample_text.txt',
 'Sample_text1.txt',
 'Saved Games',
 'School Python notes ....ipynb',
 'scikit_learn_data',
 'SciPy Library & Hypothesis & EDA -- DATA SCIENCE .ipynb',
 'Searches',
 'SendTo',
 'Sentiment_Analysis_using_LSTM.ipynb',
 'seq2seq.h5',
 'SGD CLASSIFIER CODE.ipynb',
 'SGDClassifier CODE.ipynb',
 'Snake Game 1 .ipynb',
 'Social_Network_Ads.csv',
 'Star pattern in python .ipynb',
 'Start Menu',
 'Stemming and Lemmatization in NLP .ipynb',
 'Stop Words.ipynb',
 'string function school notes .ipynb',
 'Student Grade Predictions .ipynb',
 'student.csv',
 'student_marks.csv',
 'Suport Vector Regression CODE.ipynb',
 'support regressor code for any file .ipynb',
 'SVM regressor code Not working. .ipynb',
 'sweetviz_report.html',
 'sweetviz_report.htmp',
 'TAJ Game .ipynb',
 'Templates',
 'termdeposit_test.csv',
 'termdeposit_train.csv',
 'terrorist attacks data set linear Regression. .ipynb',
 'terrorist-attacks.csv',
 'test.txt',
 'titanic_train.csv',
 'Titanic_train_model.ipynb',
 'Tokenization in NLP .ipynb',
 'train,test and validation split .ipynb',
 'Treasure Island Game.ipynb',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'User define function def .ipynb',
 'Videos',
 'VIF Abalone data sets .ipynb',
 'Web Scraping - Beautiful Soup  .ipynb',
 'winequality-red.csv',
 'WineQuality.ipynb',
 'World_happiness_predictions.csv',
 'World_happyness_Prediction',
 'World_happyness_Prediction.ipynb',
 '__pycache__']

In [180]:
if "test.txt" in os.listdir():
    print("Yes availeble")
else:
    print("No this file is not availeble")

Yes availeble

In [185]:
if not os.path.isdir("test1.txt"):
    os.mkdir("test1.txt")

In [191]:
f = open("test.txt", "r+")

In [192]:
f.close()

In [197]:
import os

# Step 1: Create a new directory
new_directory = "bhimraop"
if not os.path.exists(new_directory):
    os.mkdir(new_directory)

# Step 2: Change the current working directory to the new directory
os.chdir(new_directory)

# Step 3: Create 10 text files and write "My name is bhimrao" to each file
for i in range(10):
    file_name = f"test{i}.txt"
    with open(file_name, 'w') as f:
        f.write("My name is bhimrao")

# Step 4: Read and print the contents of each file
for i in range(10):
    file_name = f"test{i}.txt"
    with open(file_name, 'r') as f:
        data = f.read()
        print(data)

# Step 5: Store the contents of each file into a list
content_list = []
for i in range(10):
    file_name = f"test{i}.txt"
    with open(file_name, 'r') as f:
        content_list.append(f.read())

print(content_list)

# Step 6: Write the contents from the list into a new file named 'new_file.txt'
with open('new_file.txt', 'w') as f:
    for content in content_list:
        f.write(content)

My name is bhimrao
My name is bhimrao
My name is bhimrao
My name is bhimrao
My name is bhimrao
My name is bhimrao
My name is bhimrao
My name is bhimrao
My name is bhimrao
My name is bhimrao
['My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao', 'My name is bhimrao']

In [203]:
import os

os.mkdir("bhimraoH")
os.chdir(os.path.join(os.getcwd(), "bhimraoH"))

# Create and write to files
for i in range(10):
    file = "test" + str(i) + ".txt"
    f = open(file, 'w')
    f.write("My name is bhimrao\n")  # Added newline character
    f.close()

# Read and print content of each file
for i in range(10):
    file = "test" + str(i) + ".txt"
    f = open(file, 'r')
    data = f.read()
    f.close()
    print(data)

# Store content of each file in a list
l = []
for i in range(10):
    file = "test" + str(i) + ".txt"
    f = open(file, 'r')
    l.append(f.read())
    f.close()

print(l)

# Write contents of all files into a new file
f = open('new_file.txt', 'w')
for i in l:
    f.write(i)
    f.write("\n")  # Added newline character
f.close()

My name is bhimrao

My name is bhimrao

My name is bhimrao

My name is bhimrao

My name is bhimrao

My name is bhimrao

My name is bhimrao

My name is bhimrao

My name is bhimrao

My name is bhimrao

['My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n', 'My name is bhimrao\n']

# Logging

In [1]:
import logging as lg  # import logging

In [2]:
import os  # import os

In [3]:
os.mkdir("logging")  # make directory

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'logging'

In [4]:
os.chdir(os.getcwd() + "/" + "logging")  # checking current dir

In [5]:
lg.basicConfig(filename = 'test.log', level = lg.INFO)

In [6]:
lg.info(" This is  going to start my work")

In [7]:
lg.warning("This is a first warning of a program to modify it ")

In [8]:
lg.error("This is error we can receive")

In [9]:
lg.basicConfig(
    filename='test.log',
    level=lg.INFO,
    format='%(asctime)s - %(message)s'
)

In [10]:
lg.error("This is error we can receive")

In [11]:
lg.warning("This is a first warning of a program to modify it ")

In [15]:
def test(a,b):
    try:
        div = a/b
        return div 
    except Exception as e :
        print("Check your loggin file ")
        lg.error("error has occured")
        lg.exception(str(e))

In [17]:
test(4,0)

Check your loggin file

In [18]:
test(4,2)

2.0

In [19]:
lg.shutdown()

In [20]:
import logging as lg

In [21]:
lg.basicConfig(filename = 'test.log1', level = lg.INFO)

In [22]:
lg.debug("this is debugging")

In [23]:
lg.info("this is info log")

In [24]:
lg.warning("this is my warning error log")

In [25]:
lg.error("this is log error")

In [26]:
lg.exception("this is my exception log")

In [27]:
lg.critical("this is critical log")

In [1]:
import logging as lg

# Configure logging
lg.basicConfig(filename='test2.log', level=lg.INFO, format='%(asctime)s - %(message)s')

def addition(*args):
    lg.info("This is my addition function")
    sum1 = 0
    for i in args:
        lg.info(str(i))
        sum1 = sum1 + i
    return sum1

# Call the addition function
result = addition(1, 2, 3, 4, 5)
print(f"The result of the addition is: {result}")

# Ensure all logging messages are written to the file
lg.shutdown()

# Read and print the log file content
with open("test2.log", "r") as f:
    print(f.read())

The result of the addition is: 15
2024-05-21 19:38:44,934 - This is my addition function
2024-05-21 19:38:44,934 - 1
2024-05-21 19:38:44,935 - 2
2024-05-21 19:38:44,935 - 3
2024-05-21 19:38:44,935 - 4
2024-05-21 19:38:44,935 - 5

In [1]:
import logging as lg
lg.basicConfig(filename = "test3.log" , level = lg.DEBUG , format='%(asctime)s %(levelname)s %(message)s')

In [2]:
console_log = lg.StreamHandler()
console_log.setLevel(lg.INFO)

In [3]:
format ='%(asctime)s %(levelname)s %(message)s'

In [4]:
console_log.setFormatter(format)

In [5]:
lg.getLogger('').addHandler(console_log)

In [6]:
lg.info("this is my first test code for log")

%(asctime)s %(levelname)s %(message)s

In [7]:
lg1 = lg.getLogger('lg1.area1')
lg2 = lg.getLogger('lg2.area2')

In [8]:
lg1.info("this is info for logger one")
lg2.debug("this is a debug for logger two")
lg2.info("This is a info for logger two")

%(asctime)s %(levelname)s %(message)s
%(asctime)s %(levelname)s %(message)s

In [10]:
import logging as lg
lg.basicConfig(filename = "app1.log" , level = lg.DEBUG , format='%(asctime)s %(levelname)s %(message)s')
console_log = lg.StreamHandler()
console_log.setLevel(lg.DEBUG)
format =lg.Formatter('%(name)s- %(asctime)s- %(levelname)s- %(message)s')
console_log.setFormatter(format)
# create a custom logger
lg.getLogger('').addHandler(console_log)
lg.info('main log')
lg1 = lg.getLogger('user1')
lg2 = lg.getLogger('user2')
lg1.info('this is from user1 info')
lg2.debug("this is from user2 debug")

%(asctime)s %(levelname)s %(message)s
root- 2024-05-21 20:24:48,384- INFO- main log
%(asctime)s %(levelname)s %(message)s
user1- 2024-05-21 20:24:48,386- INFO- this is from user1 info
user2- 2024-05-21 20:24:48,387- DEBUG- this is from user2 debug

# Debugger

In [11]:
def testdebug():
    l = []
    for i in range(10):
        l.append(i)
        print("We have append data list")
    return l

In [12]:
testdebug()

We have append data list
We have append data list
We have append data list
We have append data list
We have append data list
We have append data list
We have append data list
We have append data list
We have append data list
We have append data list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
import ipdb # i python debugger

In [5]:
def testdebug():
    ipdb.set_trace()
    l = []
    for i in range(10):
        l.append(i)
        print("We have append data list")
    return l

In [ ]:
# testdebug()

# module

In [1]:
import math

In [3]:
math.sqrt(4)

2.0

In [4]:
from math import sqrt

In [5]:
sqrt(5)

2.23606797749979

In [6]:
from math import sqrt , pi

In [7]:
pi

3.141592653589793

In [13]:
from math import *  # import any thing availabe in math modules

In [9]:
sin(60)

-0.3048106211022167

In [10]:
cos(60)

-0.9524129804151563

In [12]:
sqrt(10)

3.1622776601683795

In [14]:
pwd()

'C:\\Users\\bhimr'

In [24]:
# create one file.py write some thing and save 
import text

In [25]:
import imp

In [26]:
imp.reload(text)

this is my first ever module

In [28]:
import addition

In [30]:
addition.addition1(10,12)

22

In [1]:
import test1 # Create a test1.py file on your home write code

In [2]:
import addition

In [6]:
test1.addition(25,4)

29

In [5]:
test1.mul(10,2)

20

In [7]:
test1.power(20,3)

8000

In [8]:
test1.mul(10,2)

20

In [9]:
from test1 import mul     # you can import any function within module

# Exception Handling

In [3]:
print('hcudhf)

SyntaxError: unterminated string literal (detected at line 1) (2017693901.py, line 1)

In [4]:
def fun(a,b):
    return a/b 

fun(5,0)

ZeroDivisionError: division by zero

In [7]:
a = open("test1.txt","r")

FileNotFoundError: [Errno 2] No such file or directory: 'test1.txt'

In [10]:
try:
    a = open("test1.txt","r")
except:
    print("there is some issue with my code")

there is some issue with my code

In [11]:
try:
    a = open("test1.txt","r")
except:
    pass

In [12]:
try:
    a = 5/0
except ArithmeticError as e:
    print("this is some issue with my code",e)

this is some issue with my code division by zero

In [13]:
try:
    a = 5/2
except ArithmeticError as e:
    print("this is some issue with my code",e)
else:
    print("This will excute once try will excute with sucess")

This will excute once try will excute with sucess

In [14]:
try:
    a = 5/2
except ArithmeticError as e:
    print("this is some issue with my code",e)
else:
    print("This will excute once try will excute with sucess")
    try:
         f = open("test1.txt","r")
    except:
        print("This is as issue with internal try block")

This will excute once try will excute with sucess
This is as issue with internal try block

In [16]:
try:
    a = int(input("Enter a first number"))
    b = int(input("Enter a second number"))
    c = a / b
except ArithmeticError as e:
    print("There is some issue with code",e)
    f = open("test1.txt","w+")
    f.read()
else:
    print("This will excute once try will excute with sucess")
    try:
        f = open("test1.txt","r")
    except:
        print("This is as issue with internal try block")

Enter a first number 5
Enter a second number 0

There is some issue with code division by zero

In [17]:
l = [4,5,6,7,8,9]
print(l[100])
t = (4,5,6,7,8,9)
print(t)

IndexError: list index out of range

In [19]:
try:
    l = [4,5,6,7,8,9]
    l[100]

except:
    print("there is issue with the code ")
    t = (4,5,6,7,8,9)
    print(t)
    try:
        t[0] = "Bhim"
    except:
        pass
else:
    print("this is no issue with my code")

there is issue with the code
(4, 5, 6, 7, 8, 9)

In [21]:
date = eval(input("Enter date:"))

Enter date: 12/12/2021

In [30]:
# syntaxError
try:
    date = eval(input("Enter date:"))
except syntaxError as se:
    print("Invalid date entered",se)
else:
    print("You entered: ",date)

Enter date: 2021,10,21

You entered:  (2021, 10, 21)

In [29]:
# syntaxError
try:
    date = eval(input("Enter date:"))
except SyntaxError as se:
    print("Invalid date entered", se)
else:
    print("You entered: ", date)

Enter date: 2021, 10b, 3

Invalid date entered invalid decimal literal (<string>, line 1)

In [41]:
# File not found IOError
try:
    name = input("Enter filename: ")
    with open(name, 'r') as f:
        n = len(f.readlines())
except FileNotFoundError:
    print("File not found:", name)
except IOError as e:
    print("An IOError occurred:", e)
else:
    print(name, "has", n, "lines")

Enter filename:  abcd

File not found: abcd

In [51]:
try:
    f = open("test3.txt", "r")
except IOError as e :
    print("this is my error " ,e)

this is my error  [Errno 2] No such file or directory: 'test3.txt'

In [54]:
try:
    name = input("Enter filename: ")
    with open(name, 'r') as f:
        n = len(f.readlines())
except FileNotFoundError:
    print("File not found:", name)
except IOError as e:
    print("An IOError occurred:", e)
else:
    print(name, "has", n, "lines")

Enter filename:  456

File not found: 456

In [48]:
try:
    f = open("test1.txt","r")
finally:
    print("finally I will excute in any case")

finally I will excute in any case

In [49]:
try:
    f = open("test1.txt","r")
finally:
    print("finally I will excute in any case")
    l = [4,5,6,7,8]
    print(l[0])

finally I will excute in any case
4

In [50]:
try:
    f = open("test1.txt","r")
except:
    pass
else:
    print("else will excute if try will excute with suc")

finally:
    print("finally i will excute in any case")
    l = [4,5,6,7]
    try:
        print(l[10])
    except:
        pass

else will excute if try will excute with suc
finally i will excute in any case

In [1]:
def askforint():
    while True:
        try:
            a = int(input("Enter an integer"))
        except Exception as e:
            print("this is my error msg",e)
        else:
            print("person has enter a correct value")
            break
            
        finally:
            print("close this issue")

In [2]:
askforint()

Enter an integer gjg

this is my error msg invalid literal for int() with base 10: 'gjg'
close this issue

Enter an integer gyt

this is my error msg invalid literal for int() with base 10: 'gyt'
close this issue

Enter an integer 1234

person has enter a correct value
close this issue

In [12]:
def askforint():
    while True:
        try:
            a = int(input("Enter an integer"))
            c = 8/a
            
        except FileNotFoundError as e:
            print("this is my error msg",e)
        except IOError as e:
            print(e)
        except ValueError as e:
            print(e)
        except Exception as e:
            print(e)
        except ArithmaticError as e:
            print(e)
        except ZeroDivisionError as e :
            print(e)
        else:
            print("person has enter a correct value")
            break
            
        finally:
            print("close this issue")

In [13]:
askforint()

Enter an integer dge

invalid literal for int() with base 10: 'dge'
close this issue

Enter an integer dkwe

invalid literal for int() with base 10: 'dkwe'
close this issue

Enter an integer 0

division by zero
close this issue

Enter an integer 5

person has enter a correct value
close this issue

In [30]:
def create_your_exception(a):
    if a ==6 :
        raise Exception(a)
    else:
        print("input is ok")
        return a

In [31]:
try :
    create_your_exception(6)
except Exception as e:
    print(e)

6

In [36]:
def create_your_exception(a):
    if a > 6 :
        raise Exception("error is ", a)
    else:
        print("input is ok")
        return a

In [37]:
try :
    create_your_exception(10)
except Exception as e:
    print(e)

('error is ', 10)

# Object Oriented Programming System (OOPS)

**A class is module which itself contains data and methods (functions) to achive the task.
The main task is divided into several sub tasks , and these are represented as classes. Object belong to same category called as a class. A class is a group name and does not exist physically**
- class is blue print / Architecture of an object
- object -->> Dict,list,str,tuple 
- An object is anything that really exists in the world is an object. Object is exist in Physically
- An object does not exist without a class But a class can exist without any objects.
- function is used for multiple time (reuseability)

In [1]:
class car:
    pass

In [2]:
audiq7 = car()   # audiq7 is object or variable and car is car

In [3]:
audiq7.milage = 10
audiq7.year   = 2021
audiq7.make   = 345
audiq7.model  = "Hifi"

In [4]:
audiq7.milage

10

In [5]:
audiq7.year

2021

In [6]:
audiq7.make

345

In [7]:
audiq7.model

'Hifi'

In [8]:
nano = car() # car is class nano is object

In [9]:
nano.milage = 20
nano.year   = 2019
nano.make   = 210
nano.model  = "Basic"
nano.enginno = 1234

In [10]:
print(nano.milage, audiq7.milage)

20 10

In [11]:
class car :     #  car is class   
# init function is provider of data. init function is in built of python and used to pass data to a classes
    def __init__(self , milage, year , make , model):  

        # self is variable of class or instance name 
        self.milage = milage
        self.year   = year
        self.make   = make
        self.model  = model

In [12]:
nano1 = car()   # data not provided so we can't create class variable

TypeError: car.__init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'model'

In [16]:
nano1 = car(20, 2019 , 210 , "Basic")  # Here we give data into initialiation fuction this is role of init all varible are associte with varible 
audiq71 = car(10,2021,345,"HiFi")

In [19]:
# we can as many as variables 
nano2   = car(21, 2020 , 211 , "Basic1") 
audiq72 = car(11,2021,346,"HiFi1") 
nano3   = car(22, 2021 , 212 , "Basic2") 
audiq73 = car(12,2021,347,"HiFi3") 
nano4   = car(23, 2022 , 213 , "Basic3") 
audiq74 = car(13,2022,348,"HiFi4") 
nano5   = car(24, 2023 , 215 , "Basic5") 
audiq75 = car(15,2024,350,"HiFi5")

In [20]:
nano3.milage

22

In [23]:
class car :
    def __init__(a,milage, year , make , model):
        a.milage = milage      # a.milage varable associate with data 
        a.year   = year
        a.make   = make
        a.model  = model 

audiq75 = car(15,2024,350,"HiFi5")

In [25]:
audiq75.milage

15

In [28]:
class car :
    def __init__(a,m, y , ma , mo):
        a.milage = m      # a.milage varable associate with data 
        a.year   = y
        a.make   = ma
        a.model  = mo 

audiq75 = car(20,2024,350,"HiFi5")

In [29]:
audiq75.milage

20

In [49]:
class car :
    def __init__(a,m, y , ma , mo):
        a.milage = m      # a.milage varable associate with data 
        a.year   = y
        a.make   = ma
        a.model  = mo 

    def age(b,current_year):               # b is local pointer 
       return current_year - b.year

    def milage1(self):                   # self is local pointer 
        return self.milage

    def __str__(c):
        return "This is my car class"

audiq75 = car(20,2021,350,"HiFi5")

In [50]:
audiq75.age(2024)

3

In [51]:
audiq75.milage1()

20

In [52]:
print(audiq75)

This is my car class

In [7]:
class student:

    def __init__(self, name, rollno, joining_date, current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_date = joining_date
        self.current_topic = current_topic


    def crt_topic(self):
        print("current topic discussed in my class is ", self.current_topic)

    def str_rollno(self):

        if type(self.rollno) == str:
            print("do nothisng")
        else:
            return str(self.rollno)

    def duration(self,current_date):
        print("Duration of student in my class is ", current_date - self.joining_date)

    def __str__(self):

        return "This is student class where they can try to input there own data and they can try"

srini = student('srini',101,2021,'opps')

In [3]:
srini.duration(2021)

Duration of student in my class is  0

In [5]:
srini.str_rollno()

'101'

In [6]:
print(srini)

This is student class where they can try to input there own data and they can try

In [19]:
class student:

    def __init__(self, name, rollno, joining_date, current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_date = joining_date
        self.current_topic = current_topic

    def name_Parshing(self):
        if type(self.name) == list:
            for i in self.name:
                print("name of the student",i)
        else:
            print("provide name is not in a form of list")

    
    def crt_topic(self):
        print("current topic discussed in my class is ", self.current_topic)

    def str_rollno(self):
        try:
            
            if type(self.rollno) == str:
                print("do nothisng")
            else:
                return str(self.rollno)
        except Exception as e :
            print("this is my error msg",e ) 

    def duration(self,current_date):
        print("Duration of student in my class is ", current_date - self.joining_date)

    def __str__(self):

        return "This is student class where they can try to input there own data and they can try"



Pawan = student(["Naveen","Jay","Himashu","Prakash"],[101,102,103,104],2021,"OOPS")

In [17]:
Pawan.name_Parshing()

name of the student Naveen
name of the student Jay
name of the student Himashu
name of the student Prakash

In [21]:
class data:

    def __init__(self,file_name,file_type,date,size):
        self.file_name = file_name
        self.file_type = file_type
        self.date      = date
        self.size      = size

    def file_open(self):
        f = open(self.file_name,'w')
        f.write("This is writing in class object")
        
    def file_read(self):
        f = open(self.file_name,'r')
        return f.read()
    
    def append_data(self):
        f = open(self.file_name,'w+')
        f.write("This is appending data in file")


file = data('Bhimrao','.txt','10/08/2021',5)

In [22]:
file.file_open()

In [23]:
file.file_read()

'This is writing in class object'

In [25]:
file.append_data()

In [43]:
import logging as lg

# Configure logging
lg.basicConfig(filename='OOPS.log', level=lg.ERROR)

class Data:
    def __init__(self, filename, filetype, data, size):
        self.filename = filename
        self.filetype = filetype
        self.data = data
        self.size = size
    
    def logging(self, message):
        lg.error(message)

    def file_open(self):
        try:
            with open(self.filename + self.filetype, 'w') as f:
                f.write(self.data)
        except Exception as e:
            self.logging(e)
    
    def file_read(self):
        try:
            with open(self.filename + self.filetype, 'r') as f:
                f.read()
        except FileNotFoundError as e:
            self.logging(e)
        except Exception as e:
            self.logging(e)
    
    def file_append(self, data):
        try:
            with open(self.filename + self.filetype, 'a') as f:
                f.write(data)
        except Exception as e:
            self.logging(e)

    def logging(self,log):
        lg.error(log)

data = Data('example', '.txt', 'Hello', 12)

In [50]:
data.file_open()

In [51]:
data.file_append('\nAppended text.')

In [52]:
content = data_instance.file_read()

In [53]:
print(content)

None

# Abstraction
- This is hide the unnecessory data fromuser and expose only that data is of inerest to the user this is called Abstraction.

In [1]:
class test:
    def __init__(self,a , b, c, d):
        self._a=a    # (._) protected variable )
        self.b=b     # public variables 
        self.c=c
        self.d=d
    def test_customer(self , v):
        return v - self._a

    def __str__(self):
        return "this is my code for abstraction"

In [2]:
o = test(4,5,6,7)

In [3]:
o.test_customer(7)

3

In [4]:
class test:
    def __init__(self,a , b, c, d):
        self.__a=a    # (.__)priviate variable )
        self.b=b     # public variables 
        self.c=c
        self.d=d
    def test_customer(self , v):
        return v - self.__a   # (.__)priviate variable not able to access 

    def __str__(self):
        return "this is my code for abstraction"

In [5]:
o = test(4,5,6,7)

In [6]:
o.test_customer(7)

3

In [7]:
o._test__a

4

In [10]:
class MyClass:

    def __init__(self):
        self.x = 1
        self.__y = 2  # (.__)priviate variable

    def display(self):
        print(self.x)
        print(self.__y)

# Create an instance of MyClass
m = MyClass()

print("Accessing variable through instance:")
print(m.x)            # This will print 1
print(m._MyClass__y)  # This will print 2

# Using the display method to print the values
m.display()           # This will print 1 and 2

Accessing variable through instance:
1
2
1
2

In [11]:
class student:

    def __init__(self):
        self.__y=3 # this is private variable

In [12]:
s = student()
print(m.y)

AttributeError: 'MyClass' object has no attribute 'y'

In [13]:
print(s._student__y)  # we can display the private varibles y

3

In [15]:
class MyClass:
    # This is the constructor 
    def __init__(self, a, b):
        self.x = a  # public variable
        self.__y = b  # private variable 

    # Instance method to access the variables 
    def display(self):
        print(self.x)  # Accessing public variable directly
        print(self.__y)  # Accessing private variable within the class

# Create an instance of MyClass with arguments for a and b
m = MyClass(10, 20)
m.display()

# Accessing public variable directly
print(m.x)

# Accessing private variable using name mangling
print(m._MyClass__y)

10
20
10
20

In [19]:
class Bank:
    def __init__(self):
        self.accno = 10
        self.name = "Bhima"
        self.balence = 15000.00
        self.__loan = 15000000.00

    def display(self):
        print(self.accno)
        print(self.name)
        print(self.balence)

# INHERITANCE 
- Creating new classes from the existing classes, so that the new classes will acquire all the feature of the existing classes is called inheritace
- Inheritance is property of the parent class inherit inside the child class

In [6]:
# creating class B from class A 
class A :
    a = 1
    b = 2

    def method1(cls):
        print(cls.a)
        print(cls.b)
    
class B(A):
    c = 3
    def method2(cls):
        print(cls.c)


b = B()
b.method1()
b.method2()

1
2
3

In [5]:
class Bird:
    def speak(self):
        print("Bird specking")

class sparrow(Bird):
    def chirp(self):
        print("sparrow chirping")


sp = sparrow()
sp.chirp()
sp.speak()

sparrow chirping
Bird specking

In [10]:
class test:
    def __init__(self, a, b, c, d):
        self.__a = a
        self.b = b
        self.c = c
        self.d = d
    def test_custome(self , v):
        return v - self.__a

    def __str__(self):
        return "this is my test code for abstraction" 


o = test(4,5,6,7)

In [11]:
o.test_custome(7)

3

In [12]:
o._test__a

4

In [17]:
class test1(test):
    def __init__(self, j , *args):
        super(test1,self).__init__(*args) # super is function 
        self.j = j

m = test1(4, 5, 6, 7, 8)

In [18]:
m.j

4

In [19]:
m.b

6

In [25]:
m.test_custome(8)

3

In [26]:
m.c

7

In [27]:
m.d

8

In [29]:
class Grandfather:
    def speak(self):
        print("Grandfather specking")

class father(Grandfather):
    def sleep(self):
        print("father sleeping")

class child(father):
    def eat(self):
        print("Eating bread")


ch = child()
ch.speak()
ch.sleep()
ch.eat()

Grandfather specking
father sleeping
Eating bread

In [30]:
class test:

    def a(self):
        print('function a from class test')

class test1:
    def a(self):
        print("function from class test1")

class test2(test,test1):
    def a(self):
        test.a(self)
        test1.a(self)


t = test2()
t.a()

function a from class test
function from class test1

In [34]:
class calculation1:
    def summation(self, a, b):
        return a + b

class calculation2:
    def multiplication(self, a, b):
        return a * b

class calculation3:
    def divide(self, a, b):
        return a / b

class derived(calculation1, calculation2, calculation3):
    pass

d = derived()
print(d.summation(10, 25))
print(d.multiplication(3, 4))
print(d.divide(10, 5))

35
12
2.0

In [37]:
class Ineuron:
    company_website = 'https://ineuron.ai/'
    name = 'iNeuron'

    def contact_details(self):
        print("Contact them at",self.company_website)

class Datascience(Ineuron):
    def __init__(self):
        self.year_of_establishment=2018 
        
    def est_details(self):
         print('{0} Company was established in {1}'
                  .format(self.name,self.year_of_establishment))

ds = Datascience()
ds.est_details()

iNeuron Company was established in 2018

In [38]:
class OS:
    multi_task = True
    os_name ="Window OS"

class windows(OS, Ineuron):
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print("Name:{}".format(self.name))

window = windows()

multi_task
Name:iNeuron

In [39]:
class OS:
    multi_task = True
    os_name ="Window OS"
    name = "Krish"
class windows(OS, Ineuron):
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print("Name:{}".format(self.name))

window = windows()

multi_task
Name:Krish

In [40]:
class OS:
    multi_task = True
    os_name ="Window OS"
    name = "Krish"
class windows(Ineuron , OS ):
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print("Name:{}".format(self.name))

window = windows()

multi_task
Name:iNeuron

In [44]:
class iNeuron:
    num_of_courses = 250

class Datascience(iNeuron):
    course_type = "Data-Science"

class AI(Datascience):
    def __init__(self):
        self.company = 'iNeuron'
        print("The company {0} offers total {1} diffrent types of cources. Most of trending in world")

AI = AI()

The company {0} offers total {1} diffrent types of cources. Most of trending in world

# Encapsulation 
- It is nothing but writing attributes (varible) and methods inside a class data and code are bounded up together in the class.
- Encapsulation is a mechanisum where varible and method that act on the data & will bind together

In [48]:
class test:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def __str__(self):
        return f"test(a={self.a}, b={self.b}, c={self.c})"

class test1:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def __str__(self):
        return f"test1(a={self.a}, b={self.b}, c={self.c})"

class test2:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def __str__(self):
        return "this is return from my test2 class"

class final:
    def __init__(self, test, test1, test2):
        self.test = test
        self.test1 = test1
        self.test2 = test2

    def __str__(self):
        return "this is a print from class: " + str(self.test) + " " + str(self.test1) + " " + str(self.test2)

t = test(4, 5, 6)
t1 = test1(3, 4, 5)
t2 = test2(5, 6, 7)
f = final(t, t1, t2)

print(f)

this is a print from class: test(a=4, b=5, c=6) test1(a=3, b=4, c=5) this is return from my test2 class

In [49]:
class student:
    def __init__(self):
        self.id = 10
        self.name ="Bhim"

    def display (self):
        print(self.id)
        print(self.name)

In [50]:
s = student()

# Pandas

In [2]:
import pandas as pd

In [15]:
file =pd.read_csv("Telecom_customer_churn.csv")

In [16]:
file_path=pd.read_csv(r"C:\Users\bhimr\OneDrive\Desktop\Telecom_customer_churn.csv")

In [17]:
file2=pd.read_excel("Book1.xlsx")

In [18]:
# file path 
file_path2=pd.read_excel(r"C:\Users\bhimr\OneDrive\Desktop\Book1.xlsx")

In [19]:
file.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [20]:
file_path.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [21]:
file2.head(2)

   ROLL NO  1  2  3  4  5  6  7  8  9  ... 23 24 25 26 27 28 29 30 PDAY ADAY
0        1  P  P  P  P  P  P  A  P  P  ...  A  P  P  P  P  P  P  P   26    4
1        2  P  P  P  A  P  P  P  P  P  ...  P  P  P  A  P  P  P  P   27    3

[2 rows x 33 columns]

In [22]:
file_path.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [23]:
df = file2

In [30]:
df.tail(2)

   ROLL NO  1  2  3  4  5  6  7  8  9  ... 23 24 25 26 27 28 29 30 PDAY ADAY
8        9  P  P  P  P  P  P  A  P  P  ...  P  A  P  P  P  P  P  P   25    5
9       10  P  P  P  P  P  P  P  P  P  ...  P  P  P  P  P  P  A  P   28    2

[2 rows x 33 columns]

In [31]:
type(df)

pandas.core.frame.DataFrame

In [33]:
df1 = df.head(5)

In [36]:
# Data store in csv file 
df1.to_csv("test.csv")

In [35]:
df1

   ROLL NO  1  2  3  4  5  6  7  8  9  ... 23 24 25 26 27 28 29 30 PDAY ADAY
0        1  P  P  P  P  P  P  A  P  P  ...  A  P  P  P  P  P  P  P   26    4
1        2  P  P  P  A  P  P  P  P  P  ...  P  P  P  A  P  P  P  P   27    3
2        3  P  P  P  P  P  P  P  P  P  ...  P  P  P  P  P  P  P  P   28    2
3        4  P  P  P  P  A  P  P  P  P  ...  P  A  P  P  P  A  P  P   25    5
4        5  P  A  P  P  P  P  P  P  P  ...  P  P  P  P  P  P  P  P   28    2

[5 rows x 33 columns]

In [37]:
pwd() # checking file path

'C:\\Users\\bhimr'

In [39]:
!ls   # file is created

 Hands on NLP (Data trends) .ipynb
 KNeighborsClassifier CODE.ipynb
100 Day python .ipynb
3D Objects
AUC an ROC CURVE  CODE.ipynb
Advance Python .ipynb
AgglomerativeClustering Codes .ipynb
All Regression.ipynb
All practise on Iris data set .ipynb
Amazon_Alexa_reviews .ipynb
AppData
Application Data
Assignment on web scraping  .ipynb
Assignments-1   Python .ipynb
Bank Marketing
Base ball case study .ipynb
Baseball Case Study.ipynb
Bhimrao
Book1.xlsx
Boston housing.csv
Break count in python.ipynb
CLASSIFICATION    Classifiers   iris dataset .ipynb
Calculation.py
Calculation.py.ipynb
Concrete_Data.csv
Contacts
Cookies
Core Python Programs .ipynb
DBSCAN clustering code.ipynb
DT Classification with Post Pruning pre pruning. (iris dataset) .ipynb
DT Regression with Cross validation (boston dataset) .ipynb
Data Science Numpy 1.ipynb
Data Science PANDAS.ipynb
Data Structures in python .ipynb
Data_Test.xlsx
Data_Train.xlsx
Decision Tree with Gini & Entropy CODE.ipynb
DecisionTreeClassifier CODE.ipynb
DecisionTreeRegressor CODE.ipynb
Documents
Downloads
Dr. Angela program practice .ipynb
E6 CUTOFF MODEL.csv
E6 CUTOFF PREDICTION MODEL .ipynb
E6 MDF Predictions Model regressor problems statement  .ipynb
E6 MFD Model .csv
E6 ZD MODEL .csv
EDA --Titanic Train.ipynb
ENCODING TECHNIQUES & HANDLING MISSING OR NULL VALUES .ipynb
ElasticNet CODE.ipynb
Favorites
Flaskpractice
Functions, user def, Lambda, recursion function .ipynb
Gaussian Naive Bayes classifier Algorithms on cancer data set.ipynb
Glass Predictions .ipynb
Grades.csv
GradientBoostingClassifier CODE.ipynb
GradientBoostingRegressor CODE.ipynb
Hands on feature engineering.ipynb
Hands_on_Statistics .ipynb
Ineuron python practice .ipynb
IntelGraphicsProfiles
Internship
K Neighbors Classifier with Iris Datasets .ipynb
KNN Details .ipynb
KNeighborsRegressor CODE.ipynb
Keras-Tuner Hidden Layers And Hidden Neurons.ipynb
Kmean Unsuperwised Learning CODE.ipynb
L3 correlation matrix.ipynb
L3New clad to core ratio..ipynb
L5 Correlation matrix.ipynb
L5New.csv
LASSO  REGRESSION CODE.ipynb
LR boston data set .ipynb
LSA.ipynb
Linear Regression model -2 on Concrete_data.csv.ipynb
Linear+Regression-Full+Material.zip
LinearRgression CODE .ipynb
Links
Local Settings
Logistic Regression  Lasso Ridge ElasticNet SVM kernel Regressor cross validation, KFold.ipynb
LogisticRegression  CODE.ipynb
Love calculator.ipynb
MACHINE LEARNING LIBRARIES .ipynb
ML  DATA SETS .ipynb
ML first model .ipynb
ML on iris data set.ipynb
Medical_cost.ipynb
Microsoft
Mnist.ipynb
Multicollinearity with Variance Inflation Factor.ipynb
Music
My Documents
NTUSER.DAT
NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TM.blf
NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{b80f1db4-06ea-11ee-9786-d3e1e45cac8c}.TMContainer00000000000000000002.regtrans-ms
NetHood
Neural Network MLPRegressor  CODE.ipynb
Now
Numpy.ipynb
OOPS.log
Ok Snake Game 1 .ipynb
OneDrive
Only Game & All Programs
PYTHON  WORKSHEET 1.ipynb
Pandas Library.ipynb
Pipeline CODE .ipynb
Postman
Practice.py
Predicting Whether the Customer Will Subscribe to Term Deposit (FIXED DEPOSIT) or not.ipynb
PrintHood
Pumpkin_Seeds_Dataset (1).csv
PycharmProjects
Python built in function. .ipynb
RandomForestClassifier  CODE.ipynb
RandomForestClassifier_WineQuality.pkl
RandomForestRegressor CODE.ipynb
Real_Combine.csv
Recent
Regular Expressions Assignment 1 .ipynb
Regularization Lasso and Ridge Regression .ipynb
Remove Correlated Features Mobile dataset! .ipynb
Restaurant Food Cost.ipynb
Ridge Regression  CODE.ipynb
Rondom Number Guess game .ipynb
SGD CLASSIFIER CODE.ipynb
SGDClassifier CODE.ipynb
SVM regressor code Not working. .ipynb
Sample_text1.txt
Saved Games
School Python notes ....ipynb
SciPy Library & Hypothesis & EDA -- DATA SCIENCE .ipynb
Searches
SendTo
Snake Game 1 .ipynb
Social_Network_Ads.csv
Star pattern in python .ipynb
Start Menu
Stemming and Lemmatization in NLP .ipynb
Stop Words.ipynb
Student Grade Predictions .ipynb
Suport Vector Regression CODE.ipynb
TAJ Game .ipynb
Telecom Customer churn Analysis.ipynb
Telecom_customer_churn.csv
Templates
Titanic_train_model.ipynb
Tokenization in NLP .ipynb
Treasure Island Game.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled10.ipynb
Untitled11.ipynb
Untitled12.ipynb
Untitled13.ipynb
Untitled2.ipynb
User define function def .ipynb
VIF Abalone data sets .ipynb
Videos
Web Scraping - Beautiful Soup  .ipynb
WineQuality.ipynb
World_happiness_predictions.csv
World_happyness_Prediction
World_happyness_Prediction.ipynb
__pycache__
abalone.csv
addition.py
alexa_review.txt
anaconda3
archive.zip
avocado.csv
baseball.csv
bhimraop
bikes.csv
blood_pressure.csv
boston.csv
brain_size.csv
brainsize1.csv
cleaned_data.csv
conda
correlation matrix .ipynb
diabetes.csv
dt_regressor_model.joblib
dtcfile.obj
empl.csv
emptest.csv
example.txt
file.txt
git_project1
glass.csv
house.csv
house_price_data_median.csv
hrdata.csv
images
input_text.txt
install.log
insurance.xlsx
iris.csv
logging
medical_cost_insurance.csv
mnist_model.h5
mobiledata.csv
my_project1
myenv
myhrmodified24sep.csv
naive_bayes  GaussianNB CODE.ipynb
new_text.txt
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
old_text.txt
output_text.txt
placement.csv
president_heights.csv
project
randomization .ipynb
rf_individualtree.png
rf_model2_individualtree.png
rf_model3_individualtree.png
role_website.csv
sample .csv
sample_text.docx
sample_text.txt
scikit_learn_data
seq2seq.h5
string function school notes .ipynb
student.csv
student_marks.csv
support regressor code for any file .ipynb
sweetviz_report.html
sweetviz_report.htmp
termdeposit_test.csv
termdeposit_train.csv
terrorist attacks data set linear Regression. .ipynb
terrorist-attacks.csv
test.csv
test.txt
test1.py
test1.txt
test2.log
test3.log
titanic_train.csv
train,test and validation split .ipynb
untitled.txt
winequality-red.csv

In [41]:
df = pd.read_csv("test.csv")  # again read data here one column is more unnamed one

In [42]:
df.head()

,Unnamed: 0,ROLL NO,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,PDAY,ADAY
0,0,1,P,P,P,P,P,P,A,P,...,A,P,P,P,P,P,P,P,26,4
1,1,2,P,P,P,A,P,P,P,P,...,P,P,P,A,P,P,P,P,27,3
2,2,3,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,P,P,28,2
3,3,4,P,P,P,P,A,P,P,P,...,P,A,P,P,P,A,P,P,25,5
4,4,5,P,A,P,P,P,P,P,P,...,P,P,P,P,P,P,P,P,28,2

In [45]:
df = pd.read_csv("test.csv", header=None)  # we can change header , names=['a','b','c',d'] give s the name of columns , sep = '#'

In [44]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,NaN,ROLL NO,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,PDAY,ADAY
1,0.0,1,P,P,P,P,P,P,A,P,...,A,P,P,P,P,P,P,P,26,4
2,1.0,2,P,P,P,A,P,P,P,P,...,P,P,P,A,P,P,P,P,27,3
3,2.0,3,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,P,P,28,2
4,3.0,4,P,P,P,P,A,P,P,P,...,P,A,P,P,P,A,P,P,25,5

In [46]:
df = pd.read_csv("test.csv", header=None,skiprows=[0,3])  # skipping the rows also

In [47]:
df

   0   1  2  3  4  5  6  7  8  9   ... 24 25 26 27 28 29 30 31  32 33
0   0   1  P  P  P  P  P  P  A  P  ...  A  P  P  P  P  P  P  P  26  4
1   1   2  P  P  P  A  P  P  P  P  ...  P  P  P  A  P  P  P  P  27  3
2   3   4  P  P  P  P  A  P  P  P  ...  P  A  P  P  P  A  P  P  25  5
3   4   5  P  A  P  P  P  P  P  P  ...  P  P  P  P  P  P  P  P  28  2

[4 rows x 34 columns]

In [51]:
df = pd.read_csv("test.csv", header=None,na_values=['PDAY']) # puting the values NAN where ever PDAY is present

In [52]:
df

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,NaN,ROLL NO,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,NaN,ADAY
1,0.0,1,P,P,P,P,P,P,A,P,...,A,P,P,P,P,P,P,P,26.0,4
2,1.0,2,P,P,P,A,P,P,P,P,...,P,P,P,A,P,P,P,P,27.0,3
3,2.0,3,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,P,P,28.0,2
4,3.0,4,P,P,P,P,A,P,P,P,...,P,A,P,P,P,A,P,P,25.0,5
5,4.0,5,P,A,P,P,P,P,P,P,...,P,P,P,P,P,P,P,P,28.0,2

In [54]:
df.describe()

             0         32
count  5.000000   5.00000
mean   2.000000  26.80000
std    1.581139   1.30384
min    0.000000  25.00000
25%    1.000000  26.00000
50%    2.000000  27.00000
75%    3.000000  28.00000
max    4.000000  28.00000

In [66]:
df.describe().T  # only give the numerical Data by defalult

    count  mean       std   min   25%   50%   75%   max
0     5.0   2.0  1.581139   0.0   1.0   2.0   3.0   4.0
32    5.0  26.8  1.303840  25.0  26.0  27.0  28.0  28.0

In [65]:
df.dtypes

0     float64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9      object
10     object
11     object
12     object
13     object
14     object
15     object
16     object
17     object
18     object
19     object
20     object
21     object
22     object
23     object
24     object
25     object
26     object
27     object
28     object
29     object
30     object
31     object
32    float64
33     object
dtype: object

In [73]:
df.columns

Index(['Unnamed: 0', 'ROLL NO', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', 'PDAY', 'ADAY'],
      dtype='object')

In [74]:
type(df['ROLL NO'])

pandas.core.series.Series

In [76]:
type(df[['ROLL NO']])

pandas.core.frame.DataFrame

In [77]:
df['ROLL NO']

0    1
1    2
2    3
3    4
4    5
Name: ROLL NO, dtype: int64

In [79]:
df[['ROLL NO','PDAY']] # list

   ROLL NO  PDAY
0        1    26
1        2    27
2        3    28
3        4    25
4        5    28

In [80]:
df[['ROLL NO','PDAY','ADAY']] #list of columns selection

   ROLL NO  PDAY  ADAY
0        1    26     4
1        2    27     3
2        3    28     2
3        4    25     5
4        5    28     2

In [4]:
import pandas as pd