<a href="https://colab.research.google.com/github/TVsony/Data/blob/main/Oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Oops** Make three people list using Oops.

In [ ]:
class Person:
    name_of_people = []

    def __init__(self, first_name, last_name):
        self.name = first_name
        self.last = last_name
        Person.name_of_people.append(self.name)

    def __str__(self):
        return "The name is {} and last name is {}".format(self.name, self.last)

# Create instances of the Person class
person1 = Person("Bhimrao", "Pawar")
print(person1)

person2 = Person("Krish", "Naik")
print(person2)

person3 = Person("Samarth", "Pawar")
print(person3)

# Access the list of names using the class variable
print(Person.name_of_people)

The name is Bhimrao and last name is Pawar
The name is Krish and last name is Naik
The name is Samarth and last name is Pawar
['Bhimrao', 'Krish', 'Samarth']

Make Class of Account above three person account

In [ ]:
class Account:
    def __init__(self, bank_name, branch_address, city, owner_name, account_number, pan_number, balance=0):
        self.bank_name = bank_name
        self.branch = branch_address
        self.city = city
        self.owner_name = owner_name
        self.account_number = account_number
        self.pan_number = pan_number
        self.balance = balance

    def deposit(self, deposit):
        self.balance = self.balance + deposit

    def withdrawl(self, withdrawal_amount):
        if withdrawal_amount <= self.balance:
            self.balance = self.balance - withdrawal_amount
        else:
            print("Your Balance is less ")

Account1 = Account("ICICI", "Cidco", "Aurangabad", "Bhimrao Pawar", "BSPP7845J", 0)
Account2 = Account("HDFC", "Hadco", "Aurangabad Gramin", "Samarth Pawar", "BSPP4446J", 0)
Account3 = Account("SBI", "Main", "Aurangabad City", "Krish Naik", "BSPP4444K", 0)

In [ ]:
print(Account1.owner_name)
print(Account1.balance)
print("----------------")
Account1.deposit(1000)
print(Account1.balance)
print("----------------")
print(Account1.branch)
print("---------------")
Account1.withdrawl(600)
print(Account1.balance)

Bhimrao Pawar
0
----------------
1000
----------------
Cidco
---------------
400

In [ ]:
print(Account2.owner_name)
print("Initial Bal:",Account2.balance)
print("----------------")
Account2.deposit(10000)
print("After Deposit:",Account2.balance)
print("----------------")
print(Account2.branch)
print("---------------")
Account2.withdrawl(3000)
print("After withdrawal:",Account2.balance)

Samarth Pawar
Initial Bal: 0
----------------
After Deposit: 10000
----------------
Hadco
---------------
After withdrawal: 7000

In [ ]:
print(Account3.owner_name)
print("Initial Bal:",Account3.balance)
print("----------------")
Account3.deposit(100000)
print("After Deposit:",Account3.balance)
print("----------------")
print(Account3.branch)
print("---------------")
Account3.withdrawl(2000)
print("After withdrawal:",Account3.balance)

Krish Naik
Initial Bal: 0
----------------
After Deposit: 100000
----------------
Main
---------------
After withdrawal: 98000