<a href="https://colab.research.google.com/github/TVsony/Data/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OOPS**
Object orinented programing systems

In [1]:
class Student:
    # Initialization constructor
    def __init__(self, rollno, name, age):
        self.rollno = rollno
        self.name = name
        self.age = age

    # Creating a display method
    def display(self):
        print('Roll no =', self.rollno, 'Name =', self.name, 'Age =', self.age)

# Creating instances/objects
stud1 = Student(101, 'Bhimrao', 12)
stud1.display()

stud2 = Student(102, 'Manjari', 13)
stud2.display()

stud3 = Student(103, 'Ashwini', 14)
stud3.display()

Roll no = 101 Name = Bhimrao Age = 12
Roll no = 102 Name = Manjari Age = 13
Roll no = 103 Name = Ashwini Age = 14

In [2]:
stud1.rollno

101

In [3]:
stud1.name

'Bhimrao'

In [4]:
stud1.age

12

In [8]:
class Employee:
    def __init__(self, empname, empsalary):
        self.empname = empname
        self.empsalary = empsalary

    def display(self):
        print("Employee Name =", self.empname, "Employee Salary =", self.empsalary)

emp1 = Employee("Bhimrao", 92000)
emp2 = Employee("Sandip", 120000)
emp3 = Employee("Akash", 13000)
emp4 = Employee("Pradip", 15000)

emp1.display()
emp2.display()
emp3.display()
emp4.display()

Employee Name = Bhimrao Employee Salary = 92000
Employee Name = Sandip Employee Salary = 120000
Employee Name = Akash Employee Salary = 13000
Employee Name = Pradip Employee Salary = 15000

In [11]:
class Student:

  fees = 3000
  def __init__(self, rollno, name, age):

    # Your initialization code here
    self.rollno = rollno
    self.name = name
    self.age = age
  def display(self):
    print("Rollno=",self.rollno,"Name =",self.name,"Age =",self.age)

stud1 = Student(101,'Andrew',23)
stud1.display()

Rollno= 101 Name = Andrew Age = 23

In [15]:
class Car:
    def __init__(self, company, colour):
        self.company = company
        self.colour = colour

    def display(self):
        print("This is a", self.company, self.colour)

# Creating an instance of the Car class
Car1 = Car("Ferrari", "Red")
Car1.display()

This is a Ferrari Red

In [18]:
class Player:
    def __init__(self, name, age, sport):
        print("Initialized data for player")
        self.name = name
        self.age = age
        self.sport = sport

    def getdata(self, name, age, sport):
        print("Getting data for players")
        self.name = name
        self.age = age
        self.sport = sport

    def displaydata(self):
        print("Player details:", self.name, self.age, self.sport)

def main():
    p1 = Player("Virat", 35, "cricket")
    p1.displaydata()

    p1.getdata("Richard", 45, "Tennis")
    p1.displaydata()

    p2 = Player("Dhoni", 39, "cricket")
    p2.displaydata()

    p3 = Player("Vivan", 65, "cricket")
    p3.displaydata()

if __name__ == '__main__':
    main()

Initialized data for player
Player details: Virat 35 cricket
Getting data for players
Player details: Richard 45 Tennis
Initialized data for player
Player details: Dhoni 39 cricket
Initialized data for player
Player details: Vivan 65 cricket

In [21]:
class Student:
    # constructor
    def __init__(self):
        self.name = "Rahul"
        self.age = 43
        self.marks = 900

    # instance method
    def talk(self):
        print("Hi, I am", self.name)
        print("My age is", self.age)
        print("My marks are", self.marks)

# Create an instance of the Student class
s1 = Student()

# Call the method using the instance.
s1.talk()

Hi, I am Rahul
My age is 43
My marks are 900

In [25]:
class Student:
    # constructor
    def __init__(self, n="", m=0):
        self.name = n
        self.marks = m

    # instance method
    def display(self):
        print('Hi', self.name)
        print("Your marks", self.marks)

# Creating an instance of the Student class
s1 = Student("Mohan Lal", 880)
s1.display()

Hi Mohan Lal
Your marks 880

In [27]:
class Sample:
  def __init__(self):
    self.x =10
  def modify(self):
    self.x+=1
s1 = Sample()
s2 = Sample()
print("X in s1 = ",s1.x)
print("X in s2 = ",s2.x)
print("-------------")

# modify x in s1
s1.modify()
print("X in s1 =",s1.x)
print("X in s2 =",s2.x)

X in s1 =  10
X in s2 =  10
-------------
X in s1 = 11
X in s2 = 10

In [30]:
class Sample:
  x=10
  def modify(cls):
    cls.x+=1
s1 = Sample()

print("X in s1 = ",s1.x)

print("-------------")

# modify x in s1
s1.modify()
print("X in s1 =",s1.x)

X in s1 =  10
-------------
X in s1 = 11