<a href="https://colab.research.google.com/github/TVsony/Data/blob/main/Python_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 Welcome to Python

In [ ]:
# Introduction

In [ ]:
1+1

2

In [ ]:
2+2

4

In [ ]:
2-1

1

In [ ]:
10/2

5.0

In [ ]:
3*2

6

In [ ]:
220*4

880

In [ ]:
10*2

20

In [ ]:
9//3 # Floor Division Remove Decimal point

3

In [ ]:
9/3 # Normal Division

3.0

In [ ]:
9%3 # Modulus

0

In [ ]:
21%2 # Modulus give the remainder

1

In [ ]:
a=2 # variable
b=3
a*b

6

In [ ]:
2**2 # power function

4

In [ ]:
4**3

64

In [ ]:
x,y,z=2,3,4 # variable assigment
x,y=1,4
x=1
a=10
b=22
c=a+b
c

32

In [ ]:
print("Hello Python ")

Hello Python

In [ ]:
country="France"

In [ ]:
type(country)

str

In [ ]:
x=90

In [ ]:
type(x)

int

In [ ]:
x=90.3
type(x)

float

In [ ]:
city = 19
type(city)

int

# New Section

In [ ]:
city="London"
# print(City) # Python is case sensitive
print('city')

city

In [ ]:
print(city)

London

In [ ]:
len('London')

6

In [ ]:
count='America'

In [ ]:
len(count)

7

In [ ]:
# Area of rectangles
length=10
breadth=10
area=Length*breadth
print('Area of Rectangle:',area)

Area of Rectangle: 100

In [ ]:
# Area of Circle

pi=3.14
r=15
area_of_circle = pi *r**2

In [ ]:
print("Area of Circle :",area_of_circle)

Area of Circle : 706.5

In [ ]:
# Mathematical Oprators

In [ ]:
33>10 # Greater than

True

In [ ]:
33<10 # Less than

False

In [ ]:
33<34  # Less than

True

In [ ]:
33>=34 # Greater than equal to

False

In [ ]:
33>=32 # Greater than equal to

True

In [ ]:
33<=34 # Less than equal to

True

In [ ]:
34<=33 # Less than equal to

False

In [ ]:
30!=30 # not equal to

False

In [ ]:
200!=100 # not equal to

True

In [ ]:
30==30 # equal to

True

In [ ]:
city = input("Enter City Name :")

Enter City Name :Sambhaji Nagar

In [ ]:
number = input("Enter Number:")

Enter Number:10

In [ ]:
10+10

20

In [ ]:
'10'+'10' # String Concatination

'1010'

In [ ]:
"Happy"+" Birthday"

'Happy Birthday'

In [ ]:
"HAPPY"+"BIRTHDAY"

'HAPPYBIRTHDAY'

In [ ]:
a=input("Enter First Number:")
b=input("Enter Second Number:")
c=a+b

Enter First Number:10
Enter Second Number:20

In [ ]:
type(a)

str

In [ ]:
type(b)

str

In [ ]:
x=358
y=23
print(x//y)
print(x%y)

15
13

In [ ]:
(2*4**3/2)

64.0

In [ ]:
x=5

y=10

if(x**3>100 and y*3<100):

     print(x, y)

5 10

In [ ]:
a=5

b=10

print(a|b)

print(b<<a)

15
320

In [ ]:
# What is the output of the following code

x=3

y=4

x+=y

print(x)

7

Arithmatic Oprator :

Addition:  X + Y

In [ ]:
11 + 19

30

In [ ]:
240 + 160

400

Subtraction:     X - Y

In [ ]:
50 -46

4

In [ ]:
10-2

8

Multiplication :    X * Y

In [ ]:
10*3

30

In [ ]:
11*11

121

Division : X / Y

In [ ]:
45/3

15.0

In [ ]:
765/10

76.5

Modulus :  X % Y

In [ ]:
456 % 23

19

In [ ]:
11 % 2

1

In [ ]:
31 % 3

1

In [ ]:
19 % 4

3

Exponent : X ** Y

In [ ]:
7 ** 3

343

In [ ]:
2 ** 8

256

In [ ]:
11 ** 3

1331

Floor Division : X // Y

In [ ]:
 19 // 3

6

In [ ]:
20 // 3

6

In [ ]:
21 // 3

7

In [ ]:
18//3

6

2) Assigment Oprators

1 .  Equal to ( = )

In [ ]:
X = 3
y = 4

2 . Add Equal to  ( + = )  
    X + = Y ---> X = X + Y

In [ ]:
x = 9
y = 4
x +=y
x

13

In [ ]:
x=7
y=4
x+=y
x

11

In [ ]:
x=12
y=9
x+=y
x

21

3 Subtract Equal to ( -  = )

  X - = Y -----> X = X - Y

In [ ]:
x=7
y=4
x-=y
x

3

In [ ]:
x=9
y=3
x-=y
x

6

In [ ]:
x=12
y=9
x-=y
x

3

4 Multiply Equal to ( *  = )

X *  = Y -----> X = X * Y

Divide Equal to  ( /  = )

X / = Y  -----> X = X / Y

In [ ]:
X =21
Y = 5
X/=Y
X

4.2

In [ ]:
X = 41
Y = 13.05
X/=Y
X

3.1417624521072796

6 Modulus Equal to ( %  = )

X % = Y ----->  X = X % Y

In [ ]:
X = 10
Y = 3
X %= Y
X

1

In [ ]:
X = 456
Y = 23
X %=Y
X

19

 7 Exponent Equal to ( **= )

 X**= Y -----> X = X ** Y

In [ ]:
x=7
y=4
x**=y
x

2401

In [ ]:
x=3
y=2
x**=y
x

9

In [ ]:
x=8
y=8
x**=y
x

16777216

8 Floor Equal to ( //= )

X//=Y ----> X = X//Y

In [ ]:
x=786
y=56
x//=y
x

14

In [ ]:
x=687
y=56
x//=y
x

12

In [ ]:
# Ninja
X = 10
Y + 5
X

10

In [ ]:
X = 10
X += 5
X

15

Comparision Oprator :

Equal to ( == )

In [ ]:
2==2

True

In [ ]:
X = 7
Y = 6
X == Y

False

In [ ]:
X = 120
Y = 120
X == Y

True

Not Equal to ( != )

In [ ]:
4 != 7

True

In [ ]:
 X = 10
 Y = 9
 X != Y

True

In [ ]:
X = 10
Y = 10
X != Y

False

Greater Than ( > )

In [ ]:
5>9

False

In [ ]:
X = 35
Y = 12
X > Y

True

Less than ( < )

In [ ]:
6 < 10

True

In [ ]:
X = 87
Y = 10
X < Y

False

In [ ]:
X = 10
Y = 87
X < Y

True

Greater Than Equal to ( >= )

In [ ]:
4 >= 5

False

In [ ]:
X = 76
Y = 35
X >= Y

True

In [ ]:
X = 35
Y = 76
X >= Y

False

Less than Equal to ( <= )

In [ ]:
12 <= 13

True

In [ ]:
X = 87
Y = 76
X <= Y

False

In [ ]:
X = 76
Y = 87
X <= Y

True

4   LOGICAL OPRATOR

AND  --- > AND retuns true if Both of the statement true

In [ ]:
 X = 6
 X < 10 and X > 1

True

In [ ]:
x = 6
x < 10 and x > 10

False

OR   -----> Return true if one of the statement are true

In [ ]:
X = 8
X < 10 or X>12

True

In [ ]:
x = 8
X < 7 or X > 12

False

In [ ]:
X = 120
X < 11 or X > 110

True

NOT -----> Return  the results reverse

In [ ]:
X = True
not x

False

In [ ]:
X = False
not X

True

IDENTITY OPRATOR : It compare memory locations of two objects.

"is" Oprator

In [ ]:
X = 10
Y = 10
X is Y

True

In [ ]:
X = 10
Y = 9
X is Y

False

"is not " Oprator

In [ ]:
X = 10
Y = 20
X is not Y

True

In [ ]:
X = 10
Y = 10
X is not Y

False

Membership Oprator

"in" Oprator

In [ ]:
t=(3,4,7,5,8)
5 in t

True

In [ ]:
t=(3,4,7,5,8)
10 in t

False

" not in " Oprator

In [ ]:
t=(3,4,7,5,8)
5 not in t

False

In [ ]:
t=(3,4,7,5,8)
10 not in t

True

String Formating

In [ ]:
first_name = 'Rose'
last_name = 'Mary'
print('Hello ! I am {} {}'.format(first_name,last_name))

Hello ! I am Rose Mary

In [ ]:
first_name = 'Rose'
last_name = 'Mary'
print('Hello ! I am {0} {1}'.format(first_name,last_name))

Hello ! I am Rose Mary

In [ ]:
first_name = 'Rose'
last_name = 'Mary'
print(f'Hello ! I am {first_name} {last_name}')

Hello ! I am Rose Mary

In [ ]:
f_name = 'Krshna'
age = 'not defined'
print(f'{f_name} is suprime godest of the god whose age is {age}')

Krshna is suprime godest of the god whose age is not defined

Strings Methods

In [ ]:
# Captitalize () Method
s='bollywood'
s.capitalize()

'Bollywood'

In [ ]:
# lower() method
s1='CINEMA'
s1.lower()

'cinema'

In [ ]:
# upper() method
a = 'movie'
a.upper()

'MOVIE'

In [ ]:
# join() method
s1 = ['Ram','Shyam','Mohan','Govind','Krshna']
x=" ".join(s1)
x

'Ram Shyam Mohan Govind Krshna'

In [ ]:
# len()function -- Space also counted
s='Python Programming Language'
len(s)

27

In [ ]:
# Count () function
st = 'Lionel Messi'
st.count('s')

2

In [ ]:
# find () function
s = 'Ronaldo'
s.find('a')

3

In [ ]:
s = 'Ronaldo'
s.find('u')

-1

In [ ]:
 # islower()
 s='actor'
 s.islower()

True

In [ ]:
# isupper()
a='SONG'
a.isupper()

True

In [ ]:
s = 'Ronaldo'
s.isupper()

False

In [ ]:
# split() Method
s = 'Data+Science'
s.split('+')

['Data', 'Science']

In [ ]:
s1 ='Data Science'
s1.split(" ")

['Data', 'Science']

In [ ]:
# Strip method
s ='   Tom Cruise'
s.strip()

'Tom Cruise'

User Input

In [ ]:
input()

Nice function

'Nice function'

In [ ]:
input('Enter Any Number:')

Enter Any Number:100

'100'

In [ ]:
x=input()

Python

In [ ]:
x=input("Enter your name: ")

Enter your name: Bhimrao

In [ ]:
x=int(input("Enter your age:"))

Enter your age:38

In [ ]:
y = float(input('Enter your salary:'))

Enter your salary:2200000.60

In [ ]:
a=int(input("Enter First Number:")) # Type Casting
b=int(input("Enter Second Number:"))
c=a+b
print("Sum of two numbers:",c)

Enter First Number:10
Enter Second Number:20
Sum of two numbers: 30

In [ ]:
type(a)

int

In [ ]:
type(b)

int

In [ ]:
a=int(input("Enter First Number:")) # Type Casting
b=int(input("Enter Second Number:"))
c=a/b
print("Division of two Numbers :",c)

Enter First Number:200
Enter Second Number:19
Division of two Numbers : 10.526315789473685

In [ ]:
type(c)

float

In [ ]:
a=int(input("Enter First Number:")) # Type Casting
b=int(input("Enter Second Number:"))
c=round(a/b)
print("Division of two Numbers :",c)

Enter First Number:200
Enter Second Number:19
Division of two Numbers : 11

**Strings**

In [ ]:
# CREATING STRINGS

s1 = 'Welcome to Python'
s2 = "Welcome to Python"
S3 = '''Welcome to Python'''
S4 = """Welcome to Python"""
S5 = '123'

In [ ]:
S1 = 'welcome to "Core Python" learning'
S2 = "welcome to 'Core Python'learning"

In [ ]:
# Length in string
str ='Core Python'
n = len(str)
print(n)

11

In [ ]:
# Indexing in String
str = "Core Python"
n = len(str)
i=0
while i<n:
  print(str[i], end=' ')
  i+=1

C o r e   P y t h o n

In [ ]:
str = "Core Python"
n = len(str)
i=0
while i<n:
  print(str[i], end=' ')
  i+=1
print() # Put cursor into new line
i=-1
while i>=-n:
  print(str[i], end=" ")
  i-=1
print()
i=1
n = len(str)
while i<=n:
  print(str[-i], end=" ")
  i+=1

C o r e   P y t h o n
n o h t y P   e r o C
n o h t y P   e r o C

In [ ]:
str = 'Core Python'
for i in str:
  print(i, end=' ')
print()
for i in str[::-1]:
  print(i, end=' ')

C o r e   P y t h o n
n o h t y P   e r o C

Slicing the String

In [ ]:
# stringname[start: stop: stepsize]

str = 'Core Python'
str[0:9:1]

'Core Pyth'

In [ ]:
str = 'Core Python'
str[0:10:1]

'Core Pytho'

In [ ]:
str = 'Core Python'
str[0:11:1]

'Core Python'

In [ ]:
str = 'Core Python'
str[0:2:1]

'Co'

In [ ]:
str = 'Core Python'
str[0:11:]

'Core Python'

In [ ]:
str = 'Core Python'
str[0:4:1]

'Core'

In [ ]:
str = 'Core Python'
str[4:11:1]

' Python'

In [ ]:
str = 'Core Python'
str[1:9:]

'ore Pyth'

In [ ]:
str = 'Core Python'
str[:]

'Core Python'

In [ ]:
str = 'Core Python'
str[-2:]

'on'

In [ ]:
str = 'Core Python'
str[-11:-1]

'Core Pytho'

In [ ]:
str = 'Core Python'
str[:-1]

'Core Pytho'

In [ ]:
str = 'Core Python'
str[-6:]

'Python'

In [ ]:
# REPEATING THE STRINGS
str = "Python"
print(str*3)

PythonPythonPython

In [ ]:
str = "Python"
print(str[2:4]*2)

thth

In [ ]:
# REMOVING THE SPACE
name ='    Mukesh Deshmukh'
print(name.rstrip())
print(name.lstrip())
print(name.strip())

    Mukesh Deshmukh
Mukesh Deshmukh
Mukesh Deshmukh

In [ ]:
if  'Mukesh   '=='Mukesh':
  print('Welcome')
else:
  print('Name is not found')

Name is not found

In [ ]:
if  'Mukesh'=='Mukesh':
  print('Welcome')
else:
  print('Name is not found')

Welcome

In [ ]:
# FINDING SUB STRING
# mainstring.find(substring, beginning, ending)

str = input('Enter main string: ')
sub = input('Enter sub string: ')
n = str.find(sub, 0,len(str))
if n==-1:
  print('sub string is not found')
else:
  print('Sub string found at position: ',n+1)

Enter main string: This is book
Enter sub string: is
Sub string found at position:  3

In [ ]:
str = input('Enter main string: ')
sub = input('Enter sub string: ')
try:
  n = str.index(sub, 0, len(str))
except ValueError:
  print('sub string not found')
else:
  print('sub string found at position : ',n+1)

Enter main string: This is book
Enter sub string: is
sub string found at position :  3

In [ ]:
str = input('Enter main string: ')
sub = input('Enter sub string: ')

i=0
flag=False
n = len(str)
while i<n:
  pos = str.find(sub, i,n)
  if pos!= -1:
    print('Found at posithin: ',pos+1)
    i=pos+1
    flag=True
  else:
    i=i+1
    if flag ==False:
      print('Sub string not found')

Enter main string:  This is book
Enter sub string: is
Found at posithin:  4
Found at posithin:  7

In [ ]:
x=[2,3,4]
x[-1:]

[4]

In [ ]:
x[-1::]

[4]

In [ ]:
x[::-1]

[4, 3, 2]

In [ ]:
t=(100,200)

print(t*2)

(100, 200, 100, 200)

**Dictionary**

Dictionary is an unordered of data value,used to store data values like a map , i.e dictionary holds the key:value pair.

1 Value in dictionary can be of any data type and can repeat

2 Keys in the dictionary must be of immutable type ( string,number,or tuple with immutable ) element and must be unique.

3 Dictionay are shown by {} Brakets and Keys:Value pair follwed by commas.

In [ ]:
d = {"brand":"ford","Model":"Tung","Year":1964}
print(d.keys())
print(d.values())

dict_keys(['brand', 'Model', 'Year'])
dict_values(['ford', 'Tung', 1964])

In [ ]:
# Dict() method
dict = dict (brand="ford", Model="Tung",Year=1964)
print(dict)

{'brand': 'ford', 'Model': 'Tung', 'Year': 1964}

In [ ]:
# Accesing the item of dict by get() method
d.get("brand")

'ford'

In [ ]:
d['brand']

'ford'

Dictionary are mutable i.e We add new item in dictionary key:value pair.

In [ ]:
# Changing Item
d["brand"]='Maruti'
d

{'brand': 'Maruti', 'Model': 'Tung', 'Year': 1964}

In [ ]:
# add item
d["Color"]="Red"
d

{'brand': 'Maruti', 'Model': 'Tung', 'Year': 1964, 'Color': 'Red'}

**Opretions on Dictionary**

In [ ]:
# copy() methods ---> Returns copy of dictionary
dict1 = {1:"Ram",2:"Shyam",3:"Govid"}
dict2 = dict1.copy()
print(dict2)

{1: 'Ram', 2: 'Shyam', 3: 'Govid'}

In [ ]:
# items() --- > Returns the list containing a Tuple for each Key:Value pair
dict2.items()

dict_items([(1, 'Ram'), (2, 'Shyam'), (3, 'Govid')])

In [ ]:
# keys()---> Returns the list containing dictionary keys
dict2.keys()

dict_keys([1, 2, 3])

In [ ]:
# values()----> Returns the list containing dictionary values
dict2.values()

dict_values(['Ram', 'Shyam', 'Govid'])

In [ ]:
# POP () ---> Remove the elements from specified key
dict1.pop(1)
dict1

{2: 'Shyam', 3: 'Govid'}

In [ ]:
dict1.pop(3)
dict1

{2: 'Shyam'}

In [ ]:
# popitem()----> Which remove last inserted key: value pair
dict1 = {1:"Ram",2:"Shyam",3:"Govid"}
dict1.popitem()

(3, 'Govid')

In [ ]:
# Update ()-----> Which update the dictionary with the specified keys values pair
dict1.update({4:"Sita"})
dict1

{1: 'Ram', 2: 'Shyam', 4: 'Sita'}

In [ ]:
# clear() ------> Which removes all the element from dictionary
dict1
dict1.clear()
dict1

{}

In [ ]:
# Value () methods which returns a list of values in dictionary
dict1 = {1:"Ram",2:"Shyam",3:"Govid"}
dict1.values()
dict1

{1: 'Ram', 2: 'Shyam', 3: 'Govid'}

**Nested Dictionary**

Nested Dictionary is a dictionary inside a dictionary. Its a collection of dictionaries into one single dictionary.

Nested_dict = {dict1{key1:value1},{dict2{key2:value2}}

In [ ]:
Students_marks ={"Ram":{"Math":20,"Eng":30,"Hindi":28},
                  "Shyam":{"Math":30,"Eng":20,"Hindi":29},
                     "Govin":{"Math":30,"Eng":30,"Hindi":28}}
Students_marks

{'Ram': {'Math': 20, 'Eng': 30, 'Hindi': 28},
 'Shyam': {'Math': 30, 'Eng': 20, 'Hindi': 29},
 'Govin': {'Math': 30, 'Eng': 30, 'Hindi': 28}}

In [ ]:
Students_marks["Govin"]

{'Math': 30, 'Eng': 30, 'Hindi': 28}

In [ ]:
Students_marks["Govin"]["Math"]

30

In [ ]:
Students_marks["Krshna"]={}
Students_marks["Krshna"]["Math"]=30
Students_marks["Krshna"]["Eng"]=30
Students_marks["Krshna"]["Hindi"]=30

Students_marks["Krshna"]

{'Math': 30, 'Eng': 30, 'Hindi': 30}

In [ ]:
Students_marks

{'Ram': {'Math': 20, 'Eng': 30, 'Hindi': 28},
 'Shyam': {'Math': 30, 'Eng': 20, 'Hindi': 29},
 'Govin': {'Math': 30, 'Eng': 30, 'Hindi': 28},
 'Krshna': {'Math': 30, 'Eng': 30, 'Hindi': 30}}

In [ ]:
# Removing items from nested dictionary
Students_marks.pop("Shyam")
Students_marks

{'Ram': {'Math': 20, 'Eng': 30, 'Hindi': 28},
 'Govin': {'Math': 30, 'Eng': 30, 'Hindi': 28},
 'Krshna': {'Math': 30, 'Eng': 30, 'Hindi': 30}}

Iterating through a nested Dictionary

In [ ]:
for name,subjects in Students_marks.items():
  print("Name of the student" ,name)
  for marks in subjects:
    print(marks,":",subjects[marks])

Name of the student Ram
Math : 20
Eng : 30
Hindi : 28
Name of the student Govin
Math : 30
Eng : 30
Hindi : 28
Name of the student Krshna
Math : 30
Eng : 30
Hindi : 30

**Sets in Python**

Set is collection which is unordered unindxed.In Python sets are written in {}

In [ ]:
# Creating sets
s = {"Apple","Banana","Cherry"}
s

{'Apple', 'Banana', 'Cherry'}

In [ ]:
# Accesing the elements of sets
for i in s:
  print(i)

Apple
Banana
Cherry

In [ ]:
# add() -----> Add one element into a sets
s.add("Pineapple")
s

{'Apple', 'Banana', 'Cherry', 'Pineapple'}

In [ ]:
# update() ---> We can add more than one elements in sets
s = {"Apple","Banana","Cherry"}
s.update({"Grapes","Mango","Lemon"})
s

{'Apple', 'Banana', 'Cherry', 'Grapes', 'Lemon', 'Mango'}

In [ ]:
s.remove{"Watermelon"} # Remove function throwing error if elements are not present in sets But discart
s

SyntaxError: ignored

In [ ]:
s.discard("Watermelon") # Discart function not thowing error if elements are not presents in sets
s

{'Apple', 'Banana', 'Cherry', 'Grapes', 'Lemon', 'Mango'}

In [ ]:
s.pop() # pop() function remove one element from sets any where because sets are not indexed and unordered
s

{'Apple', 'Banana', 'Grapes', 'Lemon', 'Mango'}

In [ ]:
s = {"Apple","Banana","Cherry"}
s.clear()
s

set()

 **Oprations On Sets **

 Set can be used for Mathematical oprations
 1. Union
 2. Intersection
 3.Diffrence
 4.Symmetric Diffrence
  
Set Oprations

Union Method:
Union of two sets is the set of all elements from both the sets. Set Union can be perfrom using two ways.
1. | opration
2. Union () method

In [ ]:
# Define two sets
A = {1,2,4,7,8}
B = {1,2,3,5,9,8}
A|B

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
# Set intersection ---> elements that are present in both sets
A&B

{1, 2, 8}

In [ ]:
A.intersection(B)

{1, 2, 8}

In [ ]:
B.intersection(A)

{1, 2, 8}

In [ ]:
# Set Diffrence ---> The Set B diffrence from the set A.
A = {1,2,4,7,8}
B = {1,2,3,5,9,8}
A-B

{4, 7}

In [ ]:
B-A

{3, 5, 9}

In [ ]:
# Sets Symmetric Diffrence ---> Not common for both
A^B

{3, 4, 5, 7, 9}

**Functions in Python**

A Functions is group of related statements that perform a specific tasks which only run when it is called.
It help is to break program into smaller and modular chunks.
Program goes on larger and lager function make our program organised and managible.
While creating function below are some point we should keep in mind Function name follow the same rules of writting identifiers in python.

1.We define function using **def** keyword.

2.function name uniquely identify the function.

3. Parameter and the (arguments)we pass value to a function.
4. A colon **(:)** to mark the end of the function.
5. One or more Python statement that make functions body. Statements must have the same indentation level.

In [ ]:
# Define the functions
def my_functions():
  a=5
  b=7
  c=a+b
  return(c)

my_functions() # call the function

12

In [ ]:
# Define function with Parameters
def my_func(a,b):  # --> Here (a,b) are parameters
  return(a-b)

my_func(12,5) # call function and pass the arguments (12,5)

7

In [ ]:
# Define functions with the defaults parameters
def my_func(a, b=6):
  return(a*b)

my_func(4)

24

In [ ]:
# Positinal Arguments
def my_func(a,b,c):
  return(a*b+c)

my_func(10,3,20)

50

In [ ]:
# KeyWord argumenents: It is arguments passed into a function and methods which is proceded by a keyword an equal sing.
def my_func(Math,Sci,Eng):
  return(Math+Sci+Eng)

my_func(90,87,93) # or my_func(Math=90,Sci=87,Eng=93) is another way to call function we can also change the my_func(Sci=87,Math=90,Eng=93)

270

In [ ]:
def marks(**score):
  print("marks in Science", +score ['Sci'])

marks(Math=90,Sci=87,Eng=93)

marks in Science 87

Modules in Python

Modules is file that contains Python code.
A Modules can define functions,classes and variables.

In [ ]:
# Save it into a .py file.
code = """
def addition(m1, m2):
    return m1 + m2

def multiplication(m1, m2):
    return m1 * m2

def subtraction(m1, m2):
    return m1 - m2

def division(m1, m2):
    return m1 / m2

def modulus(m1, m2):
    return m1 % m2

def exponent(m1, m2):
    return m1 ** m2

def floor_division(m1, m2):
    return m1 // m2


def add_equal_to(m1, m2):
    m1 += m2
    return m1

def subtract_equal_to(m1, m2):
    m1 -= m2
    return m1

def multiply_equal_to(m1, m2):
    m1 *= m2
    return m1

def divide_equal_to(m1, m2):
    m1 /= m2
    return m1

def modulus_equal_to(m1, m2):
    m1 %= m2
    return m1

def exponent_equal_to(m1, m2):
    m1 **= m2
    return m1

def floor_equal_to(m1, m2):
    m1 //= m2
    return m1

def equal_to(m1, m2):
    return m1 == m2

def not_equal_to(m1, m2):
    return m1 != m2

def greater_than(m1, m2):
    return m1 > m2

def less_than(m1, m2):
    return m1 < m2

def greater_than_equal_to(m1, m2):
    return m1 >= m2

def less_than_equal_to(m1, m2):
    return m1 <= m2

def logical_and(m1, m2):
    return m1 < m2 and m2 > m1

def logical_or(m1, m2):
    return m1 < m2 or m1 > m2

def logical_not(m1):
    return not m1
"""

with open("Calculation.py", "w") as file:
    file.write(code)

In [ ]:
import Calculation

In [ ]:
Calculation.modulus_equal_to(10, 3)

1

**Ananymous Functions**

1 **Anonymous Functins:**It is define without a name.

2 Annaymous function accept multiple inputs and returns single output.

3 They contain only one single executable statement

**Type of Ananymous Functions :**

1 Lambda Functions:

2 Filter()

3 map()

4 zip()

5 list()

6 sets()

7 Distionary Comprehensions


**Lambda Function:**
Lambda functions is small anonymous function.

It can take any number of arguments,but can have only one expression

Lambda functions widly used for data manipulation feature engineering

syntax for lambda function is

lambda arguments:expression

In [ ]:
x=lambda a:a*a
x(5)

25

In [ ]:
x=lambda a,b:a+b
x(10,4)

14

**Filter Function**

Filter function filter the given itrebles with the help of fuction that tests each element in the itrable to be true or not.

The syntax is

filter(function,itrable)

In [ ]:
# Define a mark of list out of 100
score=[92,94,99,97,91,99,88,49,33,88,77,63,53,59,91,12,22,43,96]

# Function check if mark is greater than 50
def score_check(s):
  if s>50:
    return True
  else:
    return False

# filtering the students with marks > 50
students_passed = filter(score_check,score)
for i in students_passed:
  print(i,end=" ")

92 94 99 97 91 99 88 88 77 63 53 59 91 96

In [ ]:
# Example list of numbers
numbers = [1, 5, 23, 65, 34, 12, 8, 47, 19]

# Function to filter even numbers
def is_even(num):
    return num % 2 == 0

# Use filter to get a list of even numbers
even_numbers = filter(is_even, numbers)

# Printing the result
print("Even numbers:", list(even_numbers))

Even numbers: [34, 12, 8]

**Map Function **
The map function excutes a specified function for each item in an iterable. The a item is send to the function as parameter.

The syntax of map function is :

**map(function,iterable)**

In [ ]:
# percentage of marks scored by these 6  students out of 500
# defining the list which scored the total marks out of 500

total_score=[365,450,290,398,270,430]

# defining the function which calulate the percentage
def percent(li):
  ans=(li*100)/500
  return ans

# Using map function
mapped_list=map(percent,total_score)
print(list(mapped_list))

[73.0, 90.0, 58.0, 79.6, 54.0, 86.0]

In [ ]:
# Square each number in a list

numbers = [1, 2, 3, 4, 5]

# Function to square a number
def square(x):
    return x ** 2

# Use map to apply the square function to each element in the list
squared_numbers = map(square, numbers)

# Printing the result
print("Squared numbers:", list(squared_numbers))

Squared numbers: [1, 4, 9, 16, 25]

In [ ]:
# Convert temperatures from Celsius to Fahrenheit
# Example list of temperatures in Celsius
temperatures_celsius = [0, 20, 25, 30, 35]

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Use map to apply the conversion function to each temperature in the list
temperatures_fahrenheit = map(celsius_to_fahrenheit, temperatures_celsius)

# Printing the result
print("Temperatures in Fahrenheit:", list(temperatures_fahrenheit))

Temperatures in Fahrenheit: [32.0, 68.0, 77.0, 86.0, 95.0]

In [ ]:
 # Convert a list of strings to uppercase
 # Example list of strings
words = ["apple", "banana", "cherry", "date"]

# Function to convert a string to uppercase
def to_uppercase(word):
    return word.upper()

# Use map to apply the uppercase conversion function to each word in the list
uppercase_words = map(to_uppercase, words)

# Printing the result
print("Uppercase words:", list(uppercase_words))

Uppercase words: ['APPLE', 'BANANA', 'CHERRY', 'DATE']

**Zip Function **


The zip function in Python is used to combine elements from two or more iterables into tuples. It returns an iterator of tuples where the i-th tuple contains the i-th element from each of the input iterables.

To **"unzip"** the zipped examples, you can use the  **zip(*iterables)**  syntax to separate the tuples back into individual lists

In [ ]:
# Combining two lists
# Example lists
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]

# Use zip to combine the lists into tuples
combined_data = zip(names, ages)

# Printing the result
print(list(combined_data))

[('Alice', 25), ('Bob', 30), ('Charlie', 22)]

In [ ]:
# Zipped data
combined_data = [('Alice', 25), ('Bob', 30), ('Charlie', 22)]

# Unzipping into separate lists
names, ages = zip(*combined_data)

# Printing the result
print("Names:", names)
print("Ages:", ages)

Names: ('Alice', 'Bob', 'Charlie')
Ages: (25, 30, 22)

In [ ]:
# Combining three lists

# Example lists
countries = ["USA", "Canada", "Germany"]
capitals = ["Washington D.C.", "Ottawa", "Berlin"]
populations = [331002651, 37742154, 83783942]

# Use zip to combine the lists into tuples
country_info = zip(countries, capitals, populations)

# Printing the result
print(list(country_info))

[('USA', 'Washington D.C.', 331002651), ('Canada', 'Ottawa', 37742154), ('Germany', 'Berlin', 83783942)]

In [ ]:
# Zipped data
country_info = [('USA', 'Washington D.C.', 331002651), ('Canada', 'Ottawa', 37742154), ('Germany', 'Berlin', 83783942)]

# Unzipping into separate lists
countries, capitals, populations = zip(*country_info)

# Printing the result
print("Countries:", countries)
print("Capitals:", capitals)
print("Populations:", populations)

Countries: ('USA', 'Canada', 'Germany')
Capitals: ('Washington D.C.', 'Ottawa', 'Berlin')
Populations: (331002651, 37742154, 83783942)

In [ ]:
# Iterating through zipped iterables
# Example lists
fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "red"]

# Use zip to combine the lists into tuples
fruit_color_pairs = zip(fruits, colors)

# Iterate through the zipped tuples
for fruit, color in fruit_color_pairs:
    print(f"The {fruit} is {color}.")

The apple is red.
The banana is yellow.
The cherry is red.

In [ ]:
# Zipped data
fruit_color_pairs = zip(["apple", "banana", "cherry"], ["red", "yellow", "red"])

# Iterate through the zipped tuples
for fruit, color in fruit_color_pairs:
    print(f"The {fruit} is {color}.")

The apple is red.
The banana is yellow.
The cherry is red.

**In Python, comprehension **

In Python, comprehensions provide a concise way to create lists, dictionaries, and sets. They offer a more readable and expressive syntax for creating these data structures. There are three types of comprehensions in Python: list comprehensions, dictionary comprehensions, and set comprehensions.

List Comprehension:
List comprehensions allow you to create lists in a single line. The basic syntax is:

In [24]:
# new_list = [expression for item in iterable if condition]

squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

Dictionary Comprehension:
Dictionary comprehensions are similar to list comprehensions but create dictionaries. The syntax is:

In [26]:
# new_dict = {key_expr: value_expr for item in iterable if condition}

square_dict = {x: x**2 for x in range(5)}
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Set Comprehension:
Set comprehensions are similar to list comprehensions but create sets. The syntax is:

In [27]:
# new_set = {expression for item in iterable if condition}

unique_squares = {x**2 for x in range(5)}
print(unique_squares)

{0, 1, 4, 9, 16}

 **In Python, the term "aggregate**

In [28]:
# SUM()
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print(total_sum)

15

In [30]:
# MIN(),MAX()
numbers = [1, 2, 3, 4, 5]
min_value = min(numbers)
print(min_value)

max_value = max(numbers)
print(max_value)

1
5

In [31]:
# LEN()
numbers = [1, 2, 3, 4, 5]
length = len(numbers)
print(length)

5

In [32]:
# AVRAGE ()
numbers = [1, 2, 3, 4, 5]
average = sum(numbers) / len(numbers)
print(average)

3.0

In [39]:
from decimal import ROUND_UP
# USING STATISTICS MODULE
import statistics

data = [1, 2, 3, 4, 5]

# Mean (average)
mean_value = statistics.mean(data)
print("Mean:", mean_value)

# Median
median_value = statistics.median(data)
print("Median:", median_value)

# Variance
variance_value = statistics.variance(data)
print("Variance:", variance_value)

# Standard deviation
stdev_value = (statistics.stdev(data))
print("Standard Deviation:", stdev_value)

Mean: 3
Median: 3
Variance: 2.5
Standard Deviation: 1.5811388300841898

In [1]:
# Factorial Using Recursive
def factorial(n):
    # Base case: factorial of 0 or 1 is 1
    if n == 0 or n == 1:
        return 1
    else:
        # Recursive case: n! = n * (n-1)!
        return n * factorial(n - 1)

# Example usage
result = factorial(5)
print("Factorial of 5:", result)

Factorial of 5: 120

**Fibonacci sequence**

The Fibonacci sequence is a series of numbers where each number is the sum of the two preceding ones, usually starting with 0

In [2]:
# Fibonacci sequence problems

def fibonacci(n):
    # Base case: fib(0) = 0, fib(1) = 1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        # Recursive case: fib(n) = fib(n-1) + fib(n-2)
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage
for i in range(5):
    print(fibonacci(i))

0
1
1
2
3

In [3]:
# Ex.1
def fibonacci(n):
    # Base case: fib(0) = 0, fib(1) = 1
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        # Recursive case: fib(n) = fib(n-1) + fib(n-2)
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage
for i in range(10):
    print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34

In [4]:
# Ex.2
def fibonacci_iterative(n):
    fib_sequence = [0, 1]

    for i in range(2, n + 1):
        fib_sequence.append(fib_sequence[i - 1] + fib_sequence[i - 2])

    return fib_sequence

# Example usage
result_iterative = fibonacci_iterative(10)
print(result_iterative)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [7]:
# Ex.3
def fibonacci_memoization(n, memo={}):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    elif n in memo:
        return memo[n]
    else:
        result = fibonacci_memoization(n - 1, memo) + fibonacci_memoization(n - 2, memo)
        memo[n] = result
        return result

# Example usage
result_memoization = [fibonacci_memoization(i) for i in range(20)]
print(result_memoization)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

**Classes:**

A class is a blueprint or template for creating objects. It defines a set of attributes and methods that the objects created from the class will have. Classes provide a way to structure and organize code in a modular and reusable manner.

In [2]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} says Woof!")

In [ ]:
"""In this example:
Dog is the class name.
__init__ is a special method called a constructor. It initializes the object's attributes.
self is a reference to the instance of the object being created.
name and age are attributes of the class.
bark is a method of the class."""

In [5]:
# Simple Car Class
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.speed = 0

    def accelerate(self):
        self.speed += 5
        print(f"The car is now moving at {self.speed} km/h.")

    def brake(self):
        if self.speed > 0:
            self.speed -= 5
            print(f"The car slowed down to {self.speed} km/h.")
        else:
            print("The car is already stopped.")

# Creating objects of the Car class
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Ford", "Mustang", 2023)

# Using object methods
car1.accelerate()
car2.accelerate()
car1.brake()

The car is now moving at 5 km/h.
The car is now moving at 5 km/h.
The car slowed down to 0 km/h.

In [9]:
# Student Class with Methods
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def study(self, hours):
        print(f"{self.name} is studying for {hours} hours.")

    def take_exam(self):
        print(f"{self.name} is taking an exam.")

# Creating objects of the Student class
student1 = Student("Alice", 18, "A")
student2 = Student("Bob", 20, "B")

# Using object methods
student1.study(5)
student2.take_exam()

Alice is studying for 5 hours.
Bob is taking an exam.

In [10]:
 # Bank Account Class

 class BankAccount:
    def __init__(self, account_holder, balance=0):
        self.account_holder = account_holder
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited ${amount}. New balance: ${self.balance}.")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew ${amount}. New balance: ${self.balance}.")
        else:
            print("Insufficient funds.")

# Creating objects of the BankAccount class
account1 = BankAccount("Alice", 1000)
account2 = BankAccount("Bob")

# Using object methods
account1.deposit(500)
account2.withdraw(200)

Deposited $500. New balance: $1500.
Insufficient funds.

In [13]:
# Creating Object of person class
class person:
  def __init__ (self, name, age):

    self.name=name
    self.age=age

p1=person("Nikhil",36)
print(p1.name)
print(p1.age)

Nikhil
36

In [15]:
p1.age=26
p1.age

26

In [17]:
# we can delete perticular properties using del keyword
del p1.age

In [18]:
# We can delete entire
del p1

**Objects:**

An object is an instance of a class. It is a concrete realization of the class blueprint, with specific values assigned to its attributes. You create objects based on a class.

In [4]:
# Creating objects (instances) of the Dog class
dog1 = Dog("Buddy", 3)
dog2 = Dog("Max", 5)

# Accessing object attributes
print(f"{dog1.name} is {dog1.age} years old.")
print(f"{dog2.name} is {dog2.age} years old.")

# Calling object methods
dog1.bark()
dog2.bark()

Buddy is 3 years old.
Max is 5 years old.
Buddy says Woof!
Max says Woof!

In this example, dog1 and dog2 are objects (instances) of the Dog class. They each have their own set of attributes (name and age) and can call methods defined in the class (e.g., bark).

Classes and objects provide a way to model real-world entities and their behaviors in a structured and modular fashion. They are a key feature of object-oriented programming, promoting code reusability and maintainability.

**Inheritance**

Inheritance is a fundamental concept in object-oriented programming (OOP) that allows a new class to inherit attributes and methods from an existing class. The existing class is referred to as the "parent" or "base" class, and the new class is called the "child" or "derived" class. Inheritance promotes code reuse and the creation of a hierarchy of classes.

In [23]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print(self.name, self.age)

# Creating an instance of the Person class
p1 = Person("Anita", 24)

# Using the display method
p1.display()

Anita 24

In [30]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display(self):
        print(f"Name: {self.name}, Age: {self.age}")


class Student(Person):
    def __init__(self, name, age):
        super().__init__(name, age)

# Creating an instance of the Student class
s1 = Student("Kiran", 16)

# Using the display method of the Student class
s1.display()

Name: Kiran, Age: 16

In [31]:
# Parent class
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print(f"{self.name} makes a sound.")

# Child class inheriting from Animal
class Dog(Animal):
    def bark(self):
        print(f"{self.name} barks.")

# Child class inheriting from Animal
class Cat(Animal):
    def meow(self):
        print(f"{self.name} meows.")

# Creating objects of the derived classes
dog = Dog("Buddy")
cat = Cat("Whiskers")

# Using methods from both the parent and child classes
dog.speak()  # Inherited from Animal
dog.bark()   # Specific to Dog

cat.speak()  # Inherited from Animal
cat.meow()   # Specific to Cat

Buddy makes a sound.
Buddy barks.
Whiskers makes a sound.
Whiskers meows.

**Encapsulation**

Encapsulation is the process of wrapping up variables in to single entity.

Encapsulation restrict direct access to variable and methods.


Encapsulation is one of the fundamental principles of object-oriented programming (OOP) that involves bundling the data (attributes) and the methods (functions) that operate on the data into a single unit known as a class. It restricts access to some of the object's components, preventing the direct modification of internal state from outside the object.

Public Attributes/Methods: These are accessible from outside the class.

Private Attributes/Methods: These are intended for internal use and are not accessible from outside the class. In Python, private attributes/methods are denoted by a double underscore (__) prefix.

In [53]:
# Data is hidden through private members of the class


class Person:
    def __init__(self, name,age):
        self.name = name
        self._age = age    # Private attribute with a single underscore Age is private members & we can modify private members directly.
                           # If we want to modify private members is only way to change private variable directly.

    def display(self):
        print(self.name, self._age)

# Creating an instance of the Person class
p1 = Person("Anita", 36)

# Using the display method
p1.display()

# Attempting to modify the age directly will now raise an AttributeError
# Uncommenting the line below will raise an AttributeError
# p1._age = 25
# Encapsulation Protects an object from unwated access and make the program easier to understand

Anita 36

In [46]:
p1.age=25
p1.display()

Anita 36

In [52]:
# If we want to modify private members is only way to change private variable directly.


class Person:
    def __init__(self, name, age):
        self.name = name
        self._age = age  # Private attribute with a single underscore

    def display(self):
        print(f"Name: {self.name}, Age: {self._age}")

    def modify_variable(self, new_age):
        if new_age > 0:
            self._age = new_age
        else:
            print("Age must be greater than 0.")

# Creating an instance of the Person class
p1 = Person("Anita", 36)

# Using the display method
p1.display()

# Modifying the age using the modify_variable method
p1.modify_variable(26)

# Using the display method again
p1.display()

Name: Anita, Age: 36
Name: Anita, Age: 26

**PolyMorphism**

Poly Mean Many Morphism mean forms.

Polymorphism means is the ability to use methods in diffrent ways.Polymorphism give the diffrent meaning the diffrent methods.

In [61]:
class SBI:
    def rate_of_interest(self):
        return 8

class ICICI:
    def rate_of_interest(self):
        return 7

class HDFC:
    def rate_of_interest(self):
        return 6

# Common interface
def common_interest(bank):
    return bank.rate_of_interest()

# Creating the objects
S = SBI()
I = ICICI()
H = HDFC()

# Example usage
print("SBI Interest Rate:", common_interest(S))
print("ICICI Interest Rate:", common_interest(I))
print("HDFC Interest Rate:", common_interest(H))

SBI Interest Rate: 8
ICICI Interest Rate: 7
HDFC Interest Rate: 6

In [62]:
common_interest(S)

8

In [63]:
common_interest(I)

7

In [64]:
common_interest(H)

6

**from datetime import datetime, date, time**

In [65]:
from datetime import datetime, date, time

In [66]:
current_datetime = datetime.now()
print("Current Date and Time:", current_datetime)

Current Date and Time: 2023-12-01 14:46:55.779842

In [67]:
datetime.now()

datetime.datetime(2023, 12, 1, 14, 47, 18, 390818)

In [68]:
year = current_datetime.year
month = current_datetime.month
day = current_datetime.day
hour = current_datetime.hour
minute = current_datetime.minute
second = current_datetime.second

In [71]:
print(year)
print(month)
print(day)

2023
12
1

In [72]:
print(year,month,day)

2023 12 1

In [73]:
specific_datetime = datetime(2023, 1, 15,)
print("Specific Date and Time:", specific_datetime)

Specific Date and Time: 2023-01-15 00:00:00

In [74]:
date.today()

datetime.date(2023, 12, 1)

In [75]:
datetime.now().time()

datetime.time(14, 50, 33, 762920)

In [76]:
current_datetime.strftime("%Y-%m-%d")

'2023-12-01'

In [77]:
current_datetime.strftime("%H:%M:%S")

'14:46:55'

In [78]:
date_str = "2023-01-15"
parsed_date = datetime.strptime(date_str, "%Y-%m-%d")
print("Parsed Date:", parsed_date)

Parsed Date: 2023-01-15 00:00:00

In [79]:
from datetime import timedelta

# Calculate the difference between two dates
date1 = datetime(2023, 1, 15)
date2 = datetime(2023, 1, 5)
difference = date1 - date2

print("Difference between dates:", difference)
print("Difference in days:", difference.days)

Difference between dates: 10 days, 0:00:00
Difference in days: 10

In [84]:
# Adding 3 days to the current date
current_date=date.today()
a=current_date + timedelta(days=3)
print("Three days later:", a)

Three days later: 2023-12-04

In [86]:
# Comparing dates
if date1 > date2:
    print("date1 is later than date:2")
elif date1 < date2:
    print("date1 is earlier than date:2")
else:
    print("date1 and date2 are equal")

date1 is later than date:2

In [87]:
# Getting the day of the week
day_of_week = current_date.strftime("%A")
print("Day of the Week:", day_of_week)

Day of the Week: Friday

In [92]:
# Creating a date range
start_date = date(2023, 1, 1)
end_date = date(2023, 1, 10)
date_range = [start_date + timedelta(days=x) for x in range((end_date - start_date).days + 1)]

print("Date Range:", date_range)

Date Range: [datetime.date(2023, 1, 1), datetime.date(2023, 1, 2), datetime.date(2023, 1, 3), datetime.date(2023, 1, 4), datetime.date(2023, 1, 5), datetime.date(2023, 1, 6), datetime.date(2023, 1, 7), datetime.date(2023, 1, 8), datetime.date(2023, 1, 9), datetime.date(2023, 1, 10)]

In [94]:
# Getting the current time:
current_time = datetime.now().time()
print("Current Time:", current_time)

# Formatting time:
formatted_time = current_time.strftime("%I:%M %p")
print("Formatted Time:", formatted_time)

Current Time: 15:00:11.704749
Formatted Time: 03:00 PM

In [95]:
from datetime import datetime, timedelta

# Creating a timedelta representing 5 days
delta = timedelta(days=5)
print("Timedelta:", delta)

Timedelta: 5 days, 0:00:00

In [96]:
# Adding a timedelta to a date
current_date = datetime.now().date()
future_date = current_date + timedelta(days=10)
print("Future Date:", future_date)

# Subtracting a timedelta from a date
past_date = current_date - timedelta(weeks=2)
print("Past Date:", past_date)

Future Date: 2023-12-11
Past Date: 2023-11-17

In [97]:
import datetime

d=datetime.date(2017,7,24)

print(d)

2017-07-24

In [98]:
import datetime

d=datetime.date(2017,6,18)

print(d)

2017-06-18

In [101]:
tday=datetime.date.today()

bday=datetime.date(2017,9,18)

t_day=bday-tday